<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Login - srtdash</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Aksam Assurance, Gestion, Assurance ...">
		<meta name="author" content="Badr BECHTIOUTI">

		<link rel="shortcut icon" href="{{ asset('images/aksamLogo.jpeg') }}">

		<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
		<link
		rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		<!-- amchart css -->
		<link
		rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all"/>
		<!-- others css -->
		<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		<link
		rel="stylesheet" href="{{ asset('css/style-responsive.css') }}">
	<!-- modernizr css -->
	</head>
	<body>
		<div class="login-area">
			<div class="container">
				<div class="login-box ptb--100">
					<form method="post">
						<div class="login-form-head">
							<h4>Connectez-vous</h4>
							<h3>à votre compte</h3>
						</div>

						{% if error %}
							<div class="alert alert-danger">
								{{ error.messageKey|trans(error.messageData, 'security') }}
							</div>
						{% endif %}

						{% if app.user %}
							<div class="alert alert-info">
								Vous êtes connecté en tant que
								{{ app.user.userIdentifier }},
								<a href="{{ path('app_logout') }}">Se déconnecter</a>
							</div>
						{% endif %}

						<div class="login-form-body">
							<div class="form-gp">
								<label for="inputUsername">Username</label>
							</br>
							<i class="fa fa-user" aria-hidden="true"></i>
							<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
							<div class="text-danger"></div>
						</div>

						<div class="form-gp">
							<label for="inputPassword">Mot de Pass</label>
						</br>
						<i class="fa fa-unlock" aria-hidden="true"></i>
						<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<div class="text-danger"></div>
					</div>

					<div class="submit-btn-area">
						<button id="form_submit" type="submit">Connexion !
							<i class="ti-arrow-right"></i>
						</button>
					</div>
				</div>

				<hr>

				{% if is_granted('ROLE_ADMIN') %}
					<div class="form-footer text-center mt-2">
						<p class="text-muted">Tu n'as de compte ?
							<a class="google-login" href="{{ path('register') }}">Inscription</a>
						</p>
					</div>
				{% endif %}
			</form>
		</div>
	</body>
</html></div></div><!-- bootstrap 4 js --></body></html>
