{% extends 'base.html.twig' %}

{% block title %}Sav index{% endblock %}

{% block body %}
    <h1>Sav index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatAt</th>
                <th>NatureDemande</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sav in savs %}
            <tr>
                <td>{{ sav.id }}</td>
                <td>{{ sav.creatAt ? sav.creatAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sav.natureDemande }}</td>
                <td>
                    <a href="{{ path('app_sav_show', {'id': sav.id}) }}">show</a>
                    <a href="{{ path('app_sav_edit', {'id': sav.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sav_new') }}">Create new</a>
{% endblock %}
