{% extends 'base.html.twig' %}

{% block title %}Sav
{% endblock %}

{% block body %}
	<h1>Sav</h1>

	<table class="table table-hover">
		<tbody>

			<tr>
				<th>Date de SAV</th>
				<td>{{ sav.creatAt ? sav.creatAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Nature Demande
				</th>
				<td>
					{% if  sav.motif is not empty %}
						{% if sav.motif == 1 %}
							Avenant
						{% elseif sav.motif == 2 %}
							Remboursement
						{% elseif sav.motif == 3 %}
							Sinistre
						{% elseif sav.motif == 4 %}
							Demande documents
						{% endif %}
						<br>
					{% endif %}

				</td>
			</tr>
			<tr>
				<th>Motif</th>
				<td>
					{% if  sav.natureDemande is not empty %}
						{% if sav.natureDemande == 1 %}
							Changement adresse
						{% elseif sav.natureDemande == 2 %}
							Changement RIB
						{% elseif sav.natureDemande == 3 %}
							Changement véhicule
						{% elseif sav.natureDemande == 4 %}
							Frais dossier
						{% elseif sav.natureDemande == 5 %}
							Acompte
						{% elseif sav.natureDemande == 6 %}
							Prorata suite résiliation
						{% elseif sav.natureDemande == 7 %}
							Ouverture sinistre
						{% elseif sav.natureDemande == 8 %}
							Mandaté expert
						{% elseif sav.natureDemande == 9 %}
							Remboursement sinistre
						{% elseif sav.natureDemande == 10 %}
							Relevé information
						{% elseif sav.natureDemande == 11 %}
							Attestation

						{% endif %}
						<br>
					{% endif %}
				</td>
			</tr>
		</tbody>
	</table>
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<div class="text-center">
		<button class="btn btn-theme" value="back" onclick="history.go(-1)">Annuler</button>

		<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
	</div>


	{{ form_end(form) }}


	<button class="btn btn-seccuss">
		<a href="{{ path('app_sav_edit', {'id': sav.id}) }}">Traiter</a>
	</button>

	<button class="btn btn-theme" value="back" onclick="history.go(-1)">Annuler</button>
	<table>
		{% for relance  in relancesav %}
			<th></th>
			<td>{{ relance.creatAt ? sav.creatAt|date('Y-m-d H:i:s') : '' }}</td>
			<td>{{ relance.motifRelance   }}</td>
			<td></td>
		</th>


	{% endfor %}
</table>{% endblock %}
