{% extends 'base.html.twig' %}

{% block title %}Sav{% endblock %}

{% block body %}
    <h1>Sav</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sav.id }}</td>
            </tr>
            <tr>
                <th>CreatAt</th>
                <td>{{ sav.creatAt ? sav.creatAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>NatureDemande</th>
                <td>{{ sav.natureDemande }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_sav_index') }}">back to list</a>

    <a href="{{ path('app_sav_edit', {'id': sav.id}) }}">edit</a>

    {{ include('sav/_delete_form.html.twig') }}
{% endblock %}
