{% extends 'base.html.twig' %}

{% block title %}Stat Caldrie
{% endblock %}

{% block body %}

	<section class="content-header">

		<h2>Statistique Des Equipes</h2>

		<ol class="breadcrumb">
			<li>
				<a href="{{ path('dashboard') }}">
					<i class="fa fa-dashboard"></i>
					Tableau de bord</a>
			</li>
			<li class="active">
				<a href="{{ path('app_table_liste') }}">
					<i class="fa fa-users"></i>
					Toutes les Tables</a>
			</li>
			<!-- NOTIFICATION DROPDOWN -->

			<li id="header_notification_bar" class="dropdown">
				<a data-toggle="dropdown" class="dropdown-toggle" href="#">
					<i class="fa fa-shopping-cart"></i>

				</a>

			</li>
			<!-- END NOTIFICATION DROPDOWN -->
		</ol>
		<br>
	</section>

	<style>
		.expanded-content {
			display: none;
		}
	</style>
	<div class="col-xs-12" style="float: left !important;">
		<div class="row" style="margin-left: 10px;">
			{% include 'stat/_search_form.html.twig' with {search_form: search_form} only %}
		</div>
	</div>

	<hr>

	<table id="ma-table" class="table table-striped table-advance table-hover ">
		<thead style="background-color:#87CEFA;">

			<tr style="text-align: center;">
				<th rowspan="2">Equipe</th>
				<th rowspan="2">Total</th>
				<th colspan="3">Source</th>
				<th colspan="2">Type Prospect</th>

				<th colspan="6">Motive de saisir</th>
				<th colspan="8">Activites</th>
			</tr>
			<tr style="text-align: center;">

				<th>Saisir</th>
				<th>Site Pub</th>
				<th>Revedeur</th>

				<th>Particulier</th>
				<th>Professionnel</th>


				<th>Parrainage</th>
				<th>Appel
				</th>
				<th>Avenant</th>
				<th>Ancienne</th>
				<th>Propre site</th>
				<th>Revendeur</th>


				<th>TPM</th>
				<th>VTC</th>
				<th>Sociéte</th>
				<th>Décenale</th>
				<th>Dommage</th>
				<th>Marchandise</th>
				<th>Négociant</th>
				<th>Prof Auto</th>

			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="background-color:#87CEFA;">
					<button class="btn btn" style="background-color:#B0E0E6;">Total
					</button>
				</td>

				<td>
					<span class="btn btn" style="background-color:	#00BFFF;">
						{{ " %02d"|format(prospects|filter(p => p.team is not null  )|length )}}</span>
				</td>

				<td style="background-color:#cde4e2;">
					<span class="btn btn" style="background-color:	#FFA07A;">{{ " %02d"|format( prospects|filter(p => p.source == 1 and p.team is not null  )|length ) }}</span>
				</td>
				<td>
					<span class="btn btn" style="background-color:	#FFA07A;">{{ " %02d"|format( prospects|filter(p => p.source is null and p.team is not null )|length ) }}</span>
				</td>
				<td>
					<span class="btn btn" style="background-color:	#FFA07A;">{{ " %02d"|format( prospects|filter(p => p.source == 2 and p.team is not null )|length ) }}</span>
				</td>
				<td>
					<span class="btn btn" style="background-color:	#98FB98;">{{ " %02d"|format(prospects|filter(p => p.typeProspect == 1 and p.team is not null )|length ) }}</span>
				</td>
				<td style="background-color:violet;">
					<span class="btn btn" style="background-color:	#98FB98;">{{ " %02d"|format( prospects|filter(p => p.typeProspect == 2 and p.team is not null )|length ) }}</span>
				</td>
				<td>
					<span class="btn btn" style="background-color:#cde4e2;">{{ " %02d"|format( prospects|filter(p => p.motifSaise == 1 and p.team is not null )|length ) }}</span>
				</td>
				<td>
					<span class="btn btn" style="background-color:#cde4e2;">{{ " %02d"|format( prospects|filter(p => p.motifSaise == 2 and p.team is not null )|length ) }}</span>
				</td>
				<td>
					<span class="btn btn" style="background-color:#cde4e2;">{{ " %02d"|format( prospects|filter(p => p.motifSaise == 3 and p.team is not null )|length ) }}</span>
				</td>
				<td>
					<span class="btn btn" style="background-color:#cde4e2;">{{ " %02d"|format( prospects|filter(p => p.motifSaise == 4 and p.team is not null )|length ) }}</span>
				</td>
				<td>
					<span class="btn btn" style="background-color:#cde4e2;">{{ " %02d"|format( prospects|filter(p => p.motifSaise == 5 and p.team is not null )|length ) }}</span>
				</td>
				<td>
					<span class="btn btn" style="background-color:#cde4e2;">{{ " %02d"|format( prospects|filter(p => p.motifSaise == 6 and p.team is not null )|length ) }}</span>
				</td>
				<td>
					<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 1 and p.team is not null )|length ) }}</span>
				</td>
				<td>
					<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 2 and p.team is not null )|length ) }}</span>
				</td>
				<td>
					<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 3 and p.team is not null )|length ) }}</span>
				</td>
				<td>
					<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 4 and p.team is not null )|length ) }}</span>
				</td>
				<td>
					<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 5 and p.team is not null )|length ) }}</span>
				</td>
				<td>
					<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 6  and p.team is not null )|length ) }}</span>
				</td>
				<td>
					<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 7 and p.team is not null )|length ) }}</span>
				</td>
				<td>
					<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 8 and p.team is not null )|length ) }}</span>
				</td>

			</tr>
			{% for team in teams %}
				<tr class="expandable-row">
					<td style="background-color:#87CEFA;">
						<button class="btn btn" style="background-color:#B0E0E6;">{{ team.name }}</button>
					</td>
					<td>
						<span class="btn btn" style="background-color:	#00BFFF;">
							{{ " %02d"|format(prospects|filter(p => p.team is not null and p.team == team  )|length )}}</span>
					</td>
					<td style="background-color:#cde4e2;">
						<span class="btn btn" style="background-color:	#FFA07A;">
							{{ " %02d"|format(prospects|filter(p => p.source == 1 and p.team == team)|length) }}
						</span>
					</td>
					<td>
						<span class="btn btn" style="background-color:	#FFA07A;">
							{{ " %02d"|format(prospects|filter(p => p.source is null and p.team == team)|length) }}
						</span>
					</td>
					<td>
						<span class="btn btn" style="background-color:	#FFA07A;">
							{{ " %02d"|format(prospects|filter(p => p.source == 2 and p.team == team)|length) }}
						</span>
					</td>
					<td>
						<span class="btn btn" style="background-color:	#98FB98;">
							{{ " %02d"|format(prospects|filter(p => p.typeProspect == 1 and p.team == team)|length) }}
						</span>
					</td>
					<td style="background-color:violet;">
						<span class="btn btn" style="background-color:	#98FB98;">
							{{ " %02d"|format(prospects|filter(p => p.typeProspect == 2 and p.team == team)|length) }}
						</span>
					</td>
					<td>
						<span class="btn btn" style="background-color: #cde4e2;">{{ " %02d"|format( prospects|filter(p => p.motifSaise == 1 and p.team == team )|length ) }}</span>
					</td>
					<td>
						<span class="btn btn" style="background-color:#cde4e2;">{{ " %02d"|format( prospects|filter(p => p.motifSaise == 2 and p.team == team )|length ) }}</span>
					</td>
					<td>
						<span class="btn btn" style="background-color:#cde4e2;">{{ " %02d"|format( prospects|filter(p => p.motifSaise == 3 and p.team == team )|length ) }}</span>
					</td>
					<td>
						<span class="btn btn" style="background-color:#cde4e2;">{{ " %02d"|format( prospects|filter(p => p.motifSaise == 4 and p.team == team )|length ) }}</span>
					</td>
					<td>
						<span class="btn btn" style="background-color:#cde4e2;">{{ " %02d"|format( prospects|filter(p => p.motifSaise == 5 and p.team == team )|length ) }}</span>
					</td>
					<td>
						<span class="btn btn" style="background-color:#cde4e2;">{{ " %02d"|format( prospects|filter(p => p.motifSaise == 6 and p.team == team )|length ) }}</span>
					</td>
					<td>
						<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 1 and p.team == team )|length ) }}</span>
					</td>
					<td>
						<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 2 and p.team == team )|length ) }}</span>
					</td>
					<td>
						<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 3 and p.team == team )|length ) }}</span>
					</td>
					<td>
						<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 4 and p.team == team )|length ) }}</span>
					</td>
					<td>
						<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 5 and p.team == team )|length ) }}</span>
					</td>
					<td>
						<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 6  and p.team == team )|length ) }}</span>
					</td>
					<td>
						<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 7 and p.team == team )|length ) }}</span>
					</td>
					<td>
						<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 8 and p.team == team )|length ) }}</span>
					</td>
				</tr>
				{% for  user in team.users %}
					<tr class="expanded-content">

						<td style="background-color:#87CEFA;">
							<span class=" primary">
								{{ user.username }}
							</span>
						</td>
						<td>
							<span class="btn btn" style="background-color:	#00BFFF;">
								{{ " %02d"|format(prospects|filter(p => p.comrcl is not null and p.comrcl == user)|length) }}
							</span>
						</td>
						<td style="background-color:#cde4e2;">
							<span class="btn btn" style="background-color:	#FFA07A;">
								{{ " %02d"|format(prospects|filter(p => p.source == 1 and p.comrcl == user)|length) }}
							</span>
						</td>
						<td>
							<span class="btn btn" style="background-color:	#FFA07A;">
								{{ " %02d"|format(prospects|filter(p => p.source is null and p.comrcl == user)|length) }}
							</span>
						</td>
						<td>
							<span class="btn btn" style="background-color:	#FFA07A;">
								{{ " %02d"|format(prospects|filter(p => p.source == 2  and p.comrcl == user)|length) }}
							</span>
						</td>
						<td>
							<span class="btn btn" style="background-color:	#98FB98;">
								{{ " %02d"|format(prospects|filter(p => p.typeProspect == 1 and p.comrcl == user)|length) }}
							</span>
						</td>
						<td style="background-color:violet;">
							<span class="btn btn" style="background-color:	#98FB98;">
								{{ " %02d"|format(prospects|filter(p => p.typeProspect == 2 and p.comrcl == user)|length) }}
							</span>
						</td>
						<td>
							<span class="btn btn" style="background-color: #cde4e2;">{{ " %02d"|format( prospects|filter(p => p.motifSaise == 1 and p.comrcl == user )|length ) }}</span>
						</td>
						<td>
							<span class="btn btn" style="background-color:#cde4e2;">{{ " %02d"|format( prospects|filter(p => p.motifSaise == 2 and p.comrcl == user )|length ) }}</span>
						</td>
						<td>
							<span class="btn btn" style="background-color:#cde4e2;">{{ " %02d"|format( prospects|filter(p => p.motifSaise == 3 and p.comrcl == user )|length ) }}</span>
						</td>
						<td>
							<span class="btn btn" style="background-color:#cde4e2;">{{ " %02d"|format( prospects|filter(p => p.motifSaise == 4 and p.comrcl == user )|length ) }}</span>
						</td>
						<td>
							<span class="btn btn" style="background-color:#cde4e2;">{{ " %02d"|format( prospects|filter(p => p.motifSaise == 5 and p.comrcl == user )|length ) }}</span>
						</td>
						<td>
							<span class="btn btn" style="background-color:#cde4e2;">{{ " %02d"|format( prospects|filter(p => p.motifSaise == 6 and p.comrcl == user )|length ) }}</span>
						</td>
						<td>
							<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 1 and p.comrcl == user )|length ) }}</span>
						</td>
						<td>
							<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 2 and p.comrcl == user )|length ) }}</span>
						</td>
						<td>
							<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 3 and p.comrcl == user )|length ) }}</span>
						</td>
						<td>
							<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 4 and p.comrcl == user )|length ) }}</span>
						</td>
						<td>
							<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 5 and p.comrcl == user )|length ) }}</span>
						</td>
						<td>
							<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 6  and p.comrcl == user )|length ) }}</span>
						</td>
						<td>
							<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 7 and p.comrcl == user )|length ) }}</span>
						</td>
						<td>
							<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 8 and p.comrcl == user )|length ) }}</span>
						</td>
					</tr>
				{% endfor %}
			{% endfor %}
		</tbody>
	</table>


	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

	<script>
		$(document).ready(function () {
$('.expandable-row').click(function () {
$('.expanded-content').not($(this).nextAll('.expanded-content')).hide();
$(this).nextUntil('.expandable-row').toggle();
});
});
	</script>
{% endblock %}
