{% extends 'base.html.twig' %}

{% block title %}Statistiques des prospects
{% endblock %}

{% block body %}
	<p>Choisir une année :</p>
	<ul>
		{% for y in (currentYear - 1)..(currentYear  ) %}


			<a class="btn btn-success day" href="{{ path('prospects_stats', {'year': y, 'month': month}) }}">{{ y }}</a>


		{% endfor %}
	</ul>

	<p>Choisir un mois :</p>
	<ul>
		{% for m in 1..12 %}


			<a class="btn btn-success day" href="{{ path('prospects_stats', {'year': year, 'month': m}) }}">{{ m }}</a>


		{% endfor %}
	</ul>

	<h1>Statistiques des prospects pour
		{{ month ?? '...' }}/{{ year ?? '....' }}</h1>
	<p>Nombre de prospects créés pour le mois
		{{ month ?? '...' }}
		de l'année
		{{ year ?? '....' }}
		:
		<span class="btn btn-primary">
			{{ prospects|length }}</span>
	</p>
	<h2>Les type des prospects par Source</h2>
	<div class="col-lg-6 main-chart">
		<table class="table table-striped table-advance table-hover">
			<thead>
				<tr>
					<th>Saisier</th>
					<th>Site Pub</th>
				</tr>
			</thead>


			<tbody>
				<tr style="text-align:left;">
					<td>
						<span class="btn btn-danger">{{ " %02d"|format( prospects|filter(p => p.source == 1  )|length ) }}</span>
					</td>
					<td>
						<span class="btn btn-danger">{{ " %02d"|format( prospects|filter(p => p.source is null  )|length ) }}</span>
					</td>


				</tr>
			</tbody>
		</table>
		<h2>Les type des prospects par Type</h2>
		<table class="table table-striped table-advance table-hover">
			<thead>
				<tr>
					<th>Particulier</th>
					<th>Professionnel</th>
					<th>Autre</th>


				</tr>
			</thead>


			<tbody>
				<tr style="text-align:left;">
					<td>
						<span class="btn btn-success day">{{ " %02d"|format(prospects|filter(p => p.typeProspect == 1  )|length ) }}</span>
					</td>
					<td>
						<span class="btn btn-success day">{{ " %02d"|format( prospects|filter(p => p.typeProspect == 2  )|length ) }}</span>
					</td>
					<td>
						<span class="btn btn-success day">{{ " %02d"|format(prospects|filter(p => p.typeProspect is null  )|length ) }}</span>
					</td>

				</tr>
			</tbody>
		</table>
		<h2>Les type des prospects par Motive de saisier</h2>
		<table class="table table-striped table-advance table-hover">
			<thead>
				<tr>

					<th>Parrainage</th>
					<th>Appel Entrant</th>
					<th>Avenant</th>
					<th>Ancienne contrat</th>
					<th>Propre site</th>
					<th>Revendeur</th>
					<th>null</th>


				</tr>
			</thead>


			<tbody>
				<tr style="text-align:left;">

					<td>
						<span class="btn btn" style="background-color:#41B9E1;">{{ " %02d"|format( prospects|filter(p => p.motifSaise == 1  )|length ) }}</span>
					</td>
					<td>
						<span class="btn btn" style="background-color:#41B9E1;">{{ " %02d"|format( prospects|filter(p => p.motifSaise == 2  )|length ) }}</span>
					</td>
					<td>
						<span class="btn btn" style="background-color:#41B9E1;">{{ " %02d"|format( prospects|filter(p => p.motifSaise == 3  )|length ) }}</span>
					</td>
					<td>
						<span class="btn btn" style="background-color:#41B9E1;">{{ " %02d"|format( prospects|filter(p => p.motifSaise == 4  )|length ) }}</span>
					</td>
					<td>
						<span class="btn btn" style="background-color:#41B9E1;">{{ " %02d"|format( prospects|filter(p => p.motifSaise == 5  )|length ) }}</span>
					</td>
					<td>
						<span class="btn btn" style="background-color:#41B9E1;">{{ " %02d"|format( prospects|filter(p => p.motifSaise == 6  )|length ) }}</span>
					</td>
					<td>
						<span class="btn btn" style="background-color:#41B9E1;">{{ " %02d"|format( prospects|filter(p => p.motifSaise is null  )|length ) }}</span>
					</td>


				</tr>
			</tbody>
		</table>
		<h2>Les type des prospects par Activités
		</h2>
		<table class="table table-striped table-advance table-hover">
			<thead>
				<tr>


					<th>TPM</th>
					<th>VTC</th>
					<th>Sociéte</th>
					<th>Décenale</th>
					<th>Dommage</th>
					<th>Marchandise</th>
					<th>Négociant</th>
					<th>Null</th>


				</tr>
			</thead>


			<tbody>
				<tr style="text-align:left;">


					<td>
						<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 1  )|length ) }}</span>
					</td>
					<td>
						<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 2  )|length ) }}</span>
					</td>
					<td>
						<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 3  )|length ) }}</span>
					</td>
					<td>
						<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 4  )|length ) }}</span>
					</td>
					<td>
						<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 5  )|length ) }}</span>
					</td>
					<td>
						<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 6  )|length ) }}</span>
					</td>
					<td>
						<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 7  )|length ) }}</span>
					</td>
					<td>
						<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites is null  )|length ) }}</span>
					</td>

				</tr>
			</tbody>
		</table>
	</div>
	<style>
		.custom-bar-chart {
			height: 590px;
			margin-top: 20px;
			margin-left: 60px;
			position: relative;
			border-bottom: 1px solid #c9cdd7;
		}
	</style>
	<div class="col-lg-6 main-chart">
		<div class="custom-bar-chart">

			<div
				class="row mt">
				<!-- SERVER STATUS PANELS Source -->
				<div class="col-md-4 col-sm-8 mb">
					<div class="grey-panel pn donut-chart">
						<div class="grey-header">
							<h5>Source</h5>
						</div>
						<canvas id="serverstatus01" height="120" width="120"></canvas>
						<div class="row">
							<div class="col-sm-6 col-xs-6 goleft">

								&#160;&#160;&#160;&#160;Saisier :<br/>
								<br/>
								&#160;&#160;&#160;&#160;Site pub :</p>
						</div>

						<div class="col-sm-6 col-xs-6 right">
							<span class="btn btn " style="background-color:#00CED1;">{{ " %02d"|format( prospects|filter(p => p.source == 1  )|length ) }}</span><br/>
							<span class="btn btn " style="background-color:#FF8C00;">{{ " %02d"|format( prospects|filter(p => p.source is null  )|length ) }}</span>
						</div>
						<script>
							var doughnutData = [
{

value: {{ " %02d"|format(prospects|filter(p => p.source == 1  )|length ) }},
color: "#00CED1"
}, {
value: {{ " %02d"|format( prospects|filter(p => p.source is null  )|length ) }},
color: "#FF8C00"
}
];
var myDoughnut = new Chart(document.getElementById("serverstatus01").getContext("2d")).Doughnut(doughnutData);
						</script>

					</div>
				</div>
			</div>


			<div
				class="col-md-4 col-sm-4 mb">
				<!-- REVENUE PANEL Type Prospect -->
				<div class="green-panel pn">
					<div class="green-header">
						<h5>Type Prospect
						</h5>
					</div>
					<canvas id="serverstatus03" height="120" width="120"></canvas>
					<script>
						var doughnutData = [
{
value: {{ " %02d"|format( prospects|filter(p => p.typeProspect == 1  )|length) }},
color: "#D3D3D3"
}, {
value: {{ " %02d"|format(prospects|filter(p => p.typeProspect == 2  )|length ) }},
color: "#FF8C00"
}, {
value: {{ " %02d"|format(prospects|filter(p => p.typeProspect is null  )|length ) }},
color: "#90EE90"
}
];
var myDoughnut = new Chart(document.getElementById("serverstatus03").getContext("2d")).Doughnut(doughnutData);
					</script>
					<div class="row">
						<div class="col-sm-6 col-xs-6 goleft">

							&#160;&#160;&#160;&#160;Particulier :<br/>
							<br/>
							&#160;&#160;&#160;&#160;Professionnel :</p>
						<br/>
						&#160;&#160;&#160;&#160;Autre :</p>
				</div>


				<div class="col-sm-6 col-xs-6 right">
					<span class="btn btn " style="background-color:#D3D3D3;">
						{{ " %02d"|format( prospects|filter(p => p.typeProspect == 1  )|length) }}</span><br/>
					<span class="btn btn " style="background-color:#FF8C00;">{{ " %02d"|format(prospects|filter(p => p.typeProspect == 2  )|length ) }}</span><br/>
					<span class="btn btn " style="background-color:#90EE90;">{{ " %02d"|format(prospects|filter(p => p.typeProspect is null  )|length ) }}</span>
				</div>
			</div>
		</div>
	</div>
</div></div></div>{# <p>Liste des prospects créés :</p>
																																																																																																																																																																																																															<ul>
																																																																																																																																																																																																																{% for prospect in prospects %}
																																																																																																																																																																																																																	<li>{{ prospect.name }}
																																																																																																																																																																																																																		{{ prospect.lastname }}</li>
																																																																																																																																																																																																																{% endfor %}
																																																																																																																																																																																																															</ul> #}{% endblock %}
