{% extends 'base.html.twig' %}

{% block title %}Stat Equipe
{% endblock %}

{% block body %}

	<section class="content-header">

		<h2>Statistique Des Equipes</h2>

		<ol class="breadcrumb">
			<li>
				<a href="{{ path('dashboard') }}">
					<i class="fa fa-dashboard"></i>
					Tableau de bord</a>
			</li>
			<li class="active">
				<a href="{{ path('app_table_liste') }}">
					<i class="fa fa-users"></i>
					Toutes les Tables</a>
			</li>
			<!-- NOTIFICATION DROPDOWN -->

			<li id="header_notification_bar" class="dropdown">
				<a data-toggle="dropdown" class="dropdown-toggle" href="#">
					<i class="fa fa-shopping-cart"></i>

				</a>

			</li>
			<!-- END NOTIFICATION DROPDOWN -->
		</ol>
		<br>
	</section>

	<style>
		.expanded-content {
			display: none;
		}
	</style>
	{% if app.request.get('_route') == 'prospects_statst_team'  or app.request.get('_route') == 'prospects_statstm_team' %}
		<div class="col-xs-12" style="float: right !important;">
			<div class="row" style="margin-right: 10px;">
				{% include 'stat/_search_form.html.twig' with {search_form: search_form} only %}
			</div>
		</div>
	{% else %}

		<p>Choisir une année :</p>
		<ul>
			{% for y in (currentYear - 1)..(currentYear  ) %}


				<a class="btn btn-success day" href="{{ path('prospects_stats_team', {'year': y, 'month': month}) }}">{{ y }}</a>


			{% endfor %}
		</ul>

		<p>Choisir un mois :</p>
		<ul>
			{% for m in 1..12 %}


				<a class="btn btn-success day" href="{{ path('prospects_stats_team', {'year': year, 'month': m}) }}">{{ m }}</a>

			{% endfor %}
		</ul>
		<h1>Statistiques des prospects par équipe pour
			{{ month }}/{{ year }}</h1>
		<hr>

	{% endif %}


	<table id="ma-table" class="table table-striped table-advance table-hover ">
		<thead>

			<tr style="text-align: center;">
				<th rowspan="2" style="background-color:#18B7BE;">Equipe</th>
				<th rowspan="2" style="background-color:#FFD700;">Total</th>
				<th colspan="3" style="background-color:#d9534f;">Source</th>
				<th colspan="2" style="background-color:#5cb85c;">Type Prospect</th>

				<th colspan="6" style="background-color:#41B9E1;">Motive de saisier</th>
				<th colspan="8" style="background-color:Violet;">Activites</th>
			</tr>
			<tr style="text-align: center;">

				<th style="background-color:#d9534f;">Saisier</th>
				<th style="background-color:#d9534f;">Site Pub</th>
				<th style="background-color:#d9534f;">Revedeur</th>


				<th style="background-color:#5cb85c;">Particulier</th>
				<th style="background-color:#5cb85c;">Professionnel</th>


				<th style="background-color:#41B9E1;">Parrainage</th>
				<th style="background-color:#41B9E1;">Appel
				</th>
				<th style="background-color:#41B9E1;">Avenant</th>
				<th style="background-color:#41B9E1;">Ancienne</th>
				<th style="background-color:#41B9E1;">Propre site</th>
				<th style="background-color:#41B9E1;">Revendeur</th>


				<th style="background-color:Violet;">TPM</th>
				<th style="background-color:Violet;">VTC</th>
				<th style="background-color:Violet;">Sociéte</th>
				<th style="background-color:Violet;">Décenale</th>
				<th style="background-color:Violet;">Dommage</th>
				<th style="background-color:Violet;">Marchandise</th>
				<th style="background-color:Violet;">Négociant</th>
				<th style="background-color:Violet;">Prof Auto</th>

			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<button class="btn btn" style="background-color:#18B7BE;">Total
					</button>
				</td>

				<td>
					<span class="btn btn-primary">
						{{ prospects|filter(p => p.team is not null  )|length }}</span>
				</td>

				<td style="background-color:#41B9E1;">
					<span class="btn btn-danger">{{ " %02d"|format( prospects|filter(p => p.source == 1 and p.team is not null  )|length ) }}</span>
				</td>
				<td>
					<span class="btn btn-danger">{{ " %02d"|format( prospects|filter(p => p.source is null and p.team is not null )|length ) }}</span>
				</td>
				<td>
					<span class="btn btn-danger">{{ " %02d"|format( prospects|filter(p => p.source == 2 and p.team is not null )|length ) }}</span>
				</td>
				<td>
					<span class="btn btn-success day">{{ " %02d"|format(prospects|filter(p => p.typeProspect == 1 and p.team is not null )|length ) }}</span>
				</td>
				<td style="background-color:Violet;">
					<span class="btn btn-success day">{{ " %02d"|format( prospects|filter(p => p.typeProspect == 2 and p.team is not null )|length ) }}</span>
				</td>
				<td>
					<span class="btn btn" style="background-color:#41B9E1;">{{ " %02d"|format( prospects|filter(p => p.motifSaise == 1 and p.team is not null )|length ) }}</span>
				</td>
				<td>
					<span class="btn btn" style="background-color:#41B9E1;">{{ " %02d"|format( prospects|filter(p => p.motifSaise == 2 and p.team is not null )|length ) }}</span>
				</td>
				<td>
					<span class="btn btn" style="background-color:#41B9E1;">{{ " %02d"|format( prospects|filter(p => p.motifSaise == 3 and p.team is not null )|length ) }}</span>
				</td>
				<td>
					<span class="btn btn" style="background-color:#41B9E1;">{{ " %02d"|format( prospects|filter(p => p.motifSaise == 4 and p.team is not null )|length ) }}</span>
				</td>
				<td>
					<span class="btn btn" style="background-color:#41B9E1;">{{ " %02d"|format( prospects|filter(p => p.motifSaise == 5 and p.team is not null )|length ) }}</span>
				</td>
				<td>
					<span class="btn btn" style="background-color:#41B9E1;">{{ " %02d"|format( prospects|filter(p => p.motifSaise == 6 and p.team is not null )|length ) }}</span>
				</td>
				<td>
					<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 1 and p.team is not null )|length ) }}</span>
				</td>
				<td>
					<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 2 and p.team is not null )|length ) }}</span>
				</td>
				<td>
					<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 3 and p.team is not null )|length ) }}</span>
				</td>
				<td>
					<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 4 and p.team is not null )|length ) }}</span>
				</td>
				<td>
					<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 5 and p.team is not null )|length ) }}</span>
				</td>
				<td>
					<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 6  and p.team is not null )|length ) }}</span>
				</td>
				<td>
					<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 7 and p.team is not null )|length ) }}</span>
				</td>
				<td>
					<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format( prospects|filter(p => p.activites == 8 and p.team is not null )|length ) }}</span>
				</td>

			</tr>

			{% for teamName, prospects in prospectsByTeam %}
				<tr class="expandable-row">

					<td>
						<button class="btn btn" style="background-color:#18B7BE;">
							{{ teamName }}
						</button>
					</td>


					<td>
						<span class="btn btn " style="background-color:#FFD700;">{{ " %02d"|format( prospects|filter(p => p.team is not null  )|length) }}</span>
					</td>
					<td style="background-color:#41B9E1;">
						<span class="btn btn-danger">{{ " %02d"|format(  prospects|filter(p => p.source == 1 and p.team is not null  )|length )}}</span>
					</td>
					<td>
						<span class="btn btn-danger">{{ " %02d"|format(  prospects|filter(p => p.source is null and p.team is not null  )|length )}}</span>
					</td>
					<td>
						<span class="btn btn-danger">{{ " %02d"|format(  prospects|filter(p => p.source == 2  and p.team is not null  )|length )}}</span>
					</td>
					<td>
						<span class="btn btn-success day">{{ " %02d"|format(  prospects|filter(p => p.typeProspect == 1 and p.team is not null  )|length )}}</span>
					</td>
					<td style="background-color:Violet;">
						<span class="btn btn-success day">{{ " %02d"|format(  prospects|filter(p => p.typeProspect == 2 and p.team is not null  )|length )}}</span>
					</td>

					<td>
						<span class="btn btn" style="background-color:#41B9E1;">{{ " %02d"|format(  prospects|filter(p => p.motifSaise == 1 and p.team is not null  )|length )}}</span>
					</td>
					<td>
						<span class="btn btn" style="background-color:#41B9E1;">{{ " %02d"|format(  prospects|filter(p => p.motifSaise == 2 and p.team is not null  )|length )}}</span>
					</td>
					<td>
						<span class="btn btn" style="background-color:#41B9E1;">{{ " %02d"|format(  prospects|filter(p => p.motifSaise == 3 and p.team is not null  )|length )}}</span>
					</td>
					<td>
						<span class="btn btn" style="background-color:#41B9E1;">{{ " %02d"|format(  prospects|filter(p => p.motifSaise == 4  and p.team is not null )|length )}}</span>
					</td>
					<td>
						<span class="btn btn" style="background-color:#41B9E1;">{{ " %02d"|format(  prospects|filter(p => p.motifSaise == 5 and p.team is not null  )|length )}}</span>
					</td>
					<td>
						<span class="btn btn" style="background-color:#41B9E1;">{{ " %02d"|format(  prospects|filter(p => p.motifSaise == 6 and p.team is not null  )|length )}}</span>
					</td>

					<td>
						<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format(  prospects|filter(p => p.activites == 1  and p.team is not null )|length )}}</span>
					</td>
					<td>
						<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format(  prospects|filter(p => p.activites == 2  and p.team is not null )|length )}}</span>
					</td>
					<td>
						<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format(  prospects|filter(p => p.activites == 3 and p.team is not null  )|length )}}</span>
					</td>
					<td>
						<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format(  prospects|filter(p => p.activites == 4 and p.team is not null  )|length )}}</span>
					</td>
					<td>
						<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format(  prospects|filter(p => p.activites == 5 and p.team is not null  )|length )}}</span>
					</td>
					<td>
						<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format(  prospects|filter(p => p.activites == 6 and p.team is not null  )|length )}}</span>
					</td>
					<td>
						<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format(  prospects|filter(p => p.activites == 7 and p.team is not null  )|length )}}</span>
					</td>
					<td>
						<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format(  prospects|filter(p => p.activites == 8 and p.team is not null   )|length )}}</span>
					</td>
				</tr>
				{% if app.request.get('_route') == 'prospects_stats_team' %}
					{% for cmrclIdentifier, cmrclProspects in prospectsByCmrcl[teamName] %}
						<tr class="expanded-content">

							<td>
								<span>{{ cmrclIdentifier }}</span>
							</td>
							<td>
								<span class="btn btn " style="background-color:#FFD700;">{{ cmrclProspects|filter(p => p.team is not null  )|length }}</span>
							</td>
							<td style="background-color:#41B9E1;">
								<span class="btn btn-danger">{{ " %02d"|format(   cmrclProspects|filter(p => p.source == 1 and p.team is not null  )|length )}}</span>
							</td>
							<td>
								<span class="btn btn-danger">{{ " %02d"|format(   cmrclProspects|filter(p => p.source is null and p.team is not null   )|length )}}</span>
							</td>
							<td>
								<span class="btn btn-danger">{{ " %02d"|format(   cmrclProspects|filter(p => p.source == 2 and p.team is not null   )|length )}}</span>
							</td>
							<td>
								<span class="btn btn-success day">{{ " %02d"|format(  cmrclProspects|filter(p => p.typeProspect == 1 and p.team is not null  )|length )}}</span>
							</td>
							<td style="background-color:Violet;">
								<span class="btn btn-success day">{{ " %02d"|format(  cmrclProspects|filter(p => p.typeProspect == 2 and p.team is not null  )|length )}}</span>
							</td>

							<td>
								<span class="btn btn" style="background-color:#41B9E1;">{{ " %02d"|format(  cmrclProspects|filter(p => p.motifSaise == 1 and p.team is not null  )|length )}}</span>
							</td>
							<td>
								<span class="btn btn" style="background-color:#41B9E1;">{{ " %02d"|format(  cmrclProspects|filter(p => p.motifSaise == 2  and p.team is not null )|length )}}</span>
							</td>
							<td>
								<span class="btn btn" style="background-color:#41B9E1;">{{ " %02d"|format(  cmrclProspects|filter(p => p.motifSaise == 3 and p.team is not null  )|length )}}</span>
							</td>
							<td>
								<span class="btn btn" style="background-color:#41B9E1;">{{ " %02d"|format(  cmrclProspects|filter(p => p.motifSaise == 4 and p.team is not null  )|length )}}</span>
							</td>
							<td>
								<span class="btn btn" style="background-color:#41B9E1;">{{ " %02d"|format(  cmrclProspects|filter(p => p.motifSaise == 5 and p.team is not null  )|length )}}</span>
							</td>
							<td>
								<span class="btn btn" style="background-color:#41B9E1;">{{ " %02d"|format(  cmrclProspects|filter(p => p.motifSaise == 6 and p.team is not null  )|length )}}</span>
							</td>

							<td>
								<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format(  cmrclProspects|filter(p => p.activites == 1 and p.team is not null  )|length )}}</span>
							</td>
							<td>
								<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format(  cmrclProspects|filter(p => p.activites == 2 and p.team is not null  )|length )}}</span>
							</td>
							<td>
								<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format(  cmrclProspects|filter(p => p.activites == 3 and p.team is not null  )|length )}}</span>
							</td>
							<td>
								<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format(  cmrclProspects|filter(p => p.activites == 4 and p.team is not null  )|length )}}</span>
							</td>
							<td>
								<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format(  cmrclProspects|filter(p => p.activites == 5 and p.team is not null  )|length )}}</span>
							</td>
							<td>
								<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format(  cmrclProspects|filter(p => p.activites == 6 and p.team is not null  )|length )}}</span>
							</td>
							<td>
								<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format(  cmrclProspects|filter(p => p.activites == 7 and p.team is not null  )|length )}}</span>
							</td>
							<td>
								<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format(  cmrclProspects|filter(p => p.activites == 8 and p.team is not null  )|length )}}</span>
							</td>

						</tr>
					{% endfor %}
				{% endif %}
			{% endfor %}
		</tbody>
	</table>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script>
		$(document).ready(function () {
$('.expandable-row').click(function () {
$('.expanded-content').not($(this).nextAll('.expanded-content')).hide();
$(this).nextUntil('.expandable-row').toggle();
});
});
	</script>
{% endblock %}
