{% extends 'base.html.twig' %}

{% block title %}Statistiques des prospects par équipe
{% endblock %}

{% block body %}

	<section class="content-header">

		<h2>Statistique Des Equipes</h2>

		<ol class="breadcrumb">
			<li>
				<a href="{{ path('dashboard') }}">
					<i class="fa fa-dashboard"></i>
					Tableau de bord</a>
			</li>
			<li class="active">
				<a href="{{ path('app_table_liste') }}">
					<i class="fa fa-users"></i>
					Toutes les Tables</a>
			</li>
			<!-- NOTIFICATION DROPDOWN -->

			<li id="header_notification_bar" class="dropdown">
				<a data-toggle="dropdown" class="dropdown-toggle" href="#">
					<i class="fa fa-shopping-cart"></i>

				</a>

			</li>
			<!-- END NOTIFICATION DROPDOWN -->
		</ol>
		<br>
	</section>

	<style>
		.expanded-content {
			display: none;
		}
	</style>

	<p>Choisir une année :</p>
	<ul>
		{% for y in (currentYear - 1)..(currentYear  ) %}


			<a class="btn btn-success day" href="{{ path('prospects_stats_team', {'year': y, 'month': month}) }}">{{ y }}</a>


		{% endfor %}
	</ul>

	<p>Choisir un mois :</p>
	<ul>
		{% for m in 1..12 %}


			<a class="btn btn-success day" href="{{ path('prospects_stats_team', {'year': year, 'month': m}) }}">{{ m }}</a>


		{% endfor %}
	</ul>
	<h1>Statistiques des prospects par équipe pour
		{{ month }}/{{ year }}</h1>


	<table class="table table-striped table-advance table-hover">
		<thead>
			<tr>
				<th>Equipe</th>
				<th>Total</th>
				<th>Saisier</th>
				<th>Site Pub</th>

				<th>Particulier</th>
				<th>Professionnel</th>
				<th>Autre</th>

				<th>Parrainage</th>
				<th>Appel Entrant</th>
				<th>Avenant</th>
				<th>Ancienne contrat</th>
				<th>Propre site</th>
				<th>Revendeur</th>
				<th>Autre</th>

				<th>TPM</th>
				<th>VTC</th>
				<th>Sociéte</th>
				<th>Décenale</th>
				<th>Dommage</th>
				<th>Marchandise</th>
				<th>Négociant</th>
				<th>Null</th>

			</tr>
		</thead>
		<tbody>
			{% for teamName, prospects in prospectsByTeam %}
				<tr>

					<td class="expandable-row">
						<button class="btn btn" style="background-color:#9f00a7;">
							{{ teamName }}
						</button>
					</td>
					<td>
						<span class="btn btn " style="background-color:#FFD700;">{{ " %02d"|format(prospects|length  )}}</span>
					</td>
					<td>
						<span class="btn btn-danger">{{ " %02d"|format(  prospects|filter(p => p.source == 1  )|length )}}</span>
					</td>
					<td>
						<span class="btn btn-danger">{{ " %02d"|format(  prospects|filter(p => p.source is null  )|length )}}</span>
					</td>
					<td>
						<span class="btn btn-success day">{{ " %02d"|format(  prospects|filter(p => p.typeProspect == 1  )|length )}}</span>
					</td>
					<td>
						<span class="btn btn-success day">{{ " %02d"|format(  prospects|filter(p => p.typeProspect == 2  )|length )}}</span>
					</td>
					<td>
						<span class="btn btn-success day">{{ " %02d"|format(  prospects|filter(p => p.typeProspect is null  )|length )}}</span>
					</td>
					<td>
						<span class="btn btn" style="background-color:#41B9E1;">{{ " %02d"|format(  prospects|filter(p => p.motifSaise == 1  )|length )}}</span>
					</td>
					<td>
						<span class="btn btn" style="background-color:#41B9E1;">{{ " %02d"|format(  prospects|filter(p => p.motifSaise == 2  )|length )}}</span>
					</td>
					<td>
						<span class="btn btn" style="background-color:#41B9E1;">{{ " %02d"|format(  prospects|filter(p => p.motifSaise == 3  )|length )}}</span>
					</td>
					<td>
						<span class="btn btn" style="background-color:#41B9E1;">{{ " %02d"|format(  prospects|filter(p => p.motifSaise == 4  )|length )}}</span>
					</td>
					<td>
						<span class="btn btn" style="background-color:#41B9E1;">{{ " %02d"|format(  prospects|filter(p => p.motifSaise == 5  )|length )}}</span>
					</td>
					<td>
						<span class="btn btn" style="background-color:#41B9E1;">{{ " %02d"|format(  prospects|filter(p => p.motifSaise == 6  )|length )}}</span>
					</td>
					<td>
						<span class="btn btn" style="background-color:#41B9E1;">{{ " %02d"|format(  prospects|filter(p => p.motifSaise is null  )|length )}}</span>
					</td>

					<td>
						<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format(  prospects|filter(p => p.activites == 1  )|length )}}</span>
					</td>
					<td>
						<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format(  prospects|filter(p => p.activites == 2  )|length )}}</span>
					</td>
					<td>
						<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format(  prospects|filter(p => p.activites == 3  )|length )}}</span>
					</td>
					<td>
						<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format(  prospects|filter(p => p.activites == 4  )|length )}}</span>
					</td>
					<td>
						<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format(  prospects|filter(p => p.activites == 5  )|length )}}</span>
					</td>
					<td>
						<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format(  prospects|filter(p => p.activites == 6  )|length )}}</span>
					</td>
					<td>
						<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format(  prospects|filter(p => p.activites == 7  )|length )}}</span>
					</td>
					<td>
						<span class='btn btn' style="background-color:Violet;">{{ " %02d"|format(  prospects|filter(p => p.activites is null  )|length )}}</span>
					</td>

				</tr>
			{% endfor %}
			<tr class="expanded-content">
				<td>Data 1</td>
				<td>Value 1</td>
				<td>Address 1</td>
			</tr>
			<tr class="expandable-row">
				<td>
					<button class="btn btn" style="background-color:#9f00a7;">Equipe D</button>
				</td>
				<td>21</td>
				<td>20</td>
				<td>21</td>
				<td>20</td>
				<td>21</td>
				<td>20</td>
				<td>21</td>
				<td>20</td>
				<td>21</td>
			</tr>
			<tr class="expanded-content">
				<td>
					<button class="btn btn" style="background-color:#ADFF2F;">Adnane</td>
				</td>
				<td>20</td>
				<td>21</td>
				<td>20</td>
				<td>21</td>
				<td>20</td>
				<td>21</td>
				<td>20</td>
				<td>21</td>
				<td>20</td>
				<td>21</td>
			</tr>
			<tr class="expanded-content">
				<td>
					<button class="btn btn" style="background-color:#ADFF2F;">said</td>
				</td>
				<td>20</td>
				<td>21</td>
				<td>20</td>
				<td>21</td>
				<td>20</td>
				<td>21</td>
				<td>20</td>
				<td>21</td>
				<td>20</td>
				<td>21</td>
			</tr>
			<tr class="expandable-row">
				<td>
					<button class="btn btn" style="background-color:#9f00a7;">Equipe E</button>
				</td>
				<td>21</td>
				<td>20</td>
				<td>21</td>
				<td>20</td>
				<td>21</td>
				<td>20</td>
				<td>21</td>
				<td>20</td>
				<td>21</td>
			</tr>

			<tr class="expanded-content">
				<td>
					<button class="btn btn" style="background-color:#ADFF2F;">Hamza</button>
				</td>

				<td>20</td>
				<td>21</td>
				<td>20</td>
				<td>21</td>
				<td>20</td>
				<td>21</td>
				<td>20</td>
				<td>21</td>
				<td>20</td>
				<td>21</td>
			</tr>


			<tr class="expanded-content">
				<td>
					<button class="btn btn" style="background-color:#ADFF2F;">Osama</td>
				</td>
				<td>20</td>
				<td>21</td>
				<td>20</td>
				<td>21</td>
				<td>20</td>
				<td>21</td>
				<td>20</td>
				<td>21</td>
				<td>20</td>
				<td>21</td>
			</tr>

			<tr class="expanded-content">
				<td>
					<button class="btn btn" style="background-color:#ADFF2F;">Morad</td>
				</td>
				<td>20</td>
				<td>21</td>
				<td>20</td>
				<td>21</td>
				<td>20</td>
				<td>21</td>
				<td>20</td>
				<td>21</td>
				<td>20</td>
				<td>21</td>
			</tr>
		</tbody>
	</tr>
</tbody></table><script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script><script>
$(document).ready(function () {
$('.expandable-row').click(function () {
$('.expanded-content').not($(this).nextAll('.expanded-content')).hide();
$(this).nextUntil('.expandable-row').toggle();
});
});</script>{% endblock %}
