{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent()}}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@0.5.3/dist/css/axentix.min.css">
{% endblock %}
{% block title %}Date d'accès
{% endblock %}

{% block body %}


	<section class="content-header">
		<h1>
			Date d'Acces des Utilisateurs

		</h1>
		<ol class="breadcrumb">
			<li>
				<a href="{{ path('dashboard') }}">
					<i class="fa fa-dashboard"></i>
					Tableau de bord</a>
			</li>

		</ol>
		<br>
	</section>


	<h1>Utilisateurs en ligne</h1>
	<table class="table table-striped table-advance table-hover">
		<thead>
			<tr>
				<th>Utilisateur</th>
				<th>Dernière Accès</th>


			</tr>
		</thead>
		{% for user in onlineUsers %}


			<tbody>
				<tr>
					<td>{{ user.username }}</td>
					{% set lastAccess = user.acces|last %}
					{% if lastAccess is not null %}
						<td>{{ lastAccess.accessDate|date('d/m/Y H:i:s') }}</td>

					{% else %}
						<td>Aucun accès récent</td>

					{% endif %}


					{# <td>{{ user.logoutdate|date('d/m/Y H:i:s') }}</td> #}


					{# <td>
																																																																																																																																																																																																									<label class="form-switch mt-2">
																																																																																																																																																																																																			
																																																																																																																																																																																																										<input type="checkbox" {{(user.IsConnect) ? 'checked' : ''}} data-id="{{user.id}}" id="dynamic-button">
																																																																																																																																																																																																			
																																																																																																																																																																																																										<span class="slider"></span>
																																																																																																																																																																																																			
																																																																																																																																																																																																									</label>
																																																																																																																																																																																																			
																																																																																																																																																																																																								</td> #}

					<td>
						{% if user.isConnect %}
							<a href="{{ path('user_disconnect', {'id': user.id}) }}" class="btn btn-primary">Déconnecter</a>
						{% else %}
							<span class="text-muted">Déconnecté</span>
						{% endif %}
					</td>

					<td class="btn-toolbar">
						<a href="{{ path('user_acces_show', {'id': user.id}) }}" class="btn btn-success btn-xs">
							<i class="fa fa-eye"></i>
						</a>
					</td>
				</tr>
			</tbody>

		{% endfor %}
	</table>

	<h1>Utilisateurs hors ligne</h1>
	<table class="table table-striped table-advance table-hover">
		<thead>
			<tr>
				<th>User</th>
				<th>Dernière Sortie</th>


			</tr>
		</thead>
		{% for user in offlineUsers %}

			<tbody>
				<tr>
					<td>{{ user.username }}</td>

					{% if user.acces is not empty %}
						{% set lastAccess = user.acces|last %}
						<td>{{ lastAccess.logoutDate|date('d/m/Y H:i:s') }}</td>
					{% else %}
						<td>Aucun sortie récent</td>
					{% endif %}

					{# <td>
																																																																																																															{{ acces.accessDate|date('d/m/Y H:i:s') }}</td>
																																																																																																														<td>{{ acces.logoutDate|date('d/m/Y H:i:s') }}</td> #}


					<td>
						{% if user.isConnect %}
							<a href="{{ path('user_disconnect', {'id': user.id}) }}" class="btn btn-primary">Déconnecter</a>
						{% else %}
							<span class="btn btn-success">Déconnecté</span>
						{% endif %}
					</td>

					<td class="btn-toolbar">
						<a href="{{ path('user_acces_show', {'id': user.id}) }}" class="btn btn-success btn-xs">
							<i class="fa fa-eye"></i>
						</a>
					</td>

				</tr>
			</tbody>

		{% endfor %}
	</table>

	{# {% for user in users %}
																																																																																																																																																																											<tr>
																																																																																																																																																																												<td>{{ user.username }}</td>
																																																																																																																																																																												{% set lastAccessDate = null %}
																																																																																																																																																																												{% for access in user.acces %}
																																																																																																																																																																													{% if access.accessDate %}
																																																																																																																																																																														{% if not lastAccessDate or access.accessDate > lastAccessDate %}
																																																																																																																																																																															{% set lastAccessDate = access.accessDate %}
																																																																																																																																																																														{% endif %}
																																																																																																																																																																													{% endif %}
																																																																																																																																																																												{% endfor %}
																																																																																																																																																																												{% if lastAccessDate is not null %}
																																																																																																																																																																													<td>{{  lastAccessDate|date('d/m/Y H:i:s')   }}</td>
																																																																																																																																																																												{% else %}	
																																																																																																																																																																													<td>Pas d'acces</td>
																																																																																																																																																																												{% endif %}
																																																																																																																																																																							
																																																																																																																																																																							
																																																																																																																																																																												<td class="btn-toolbar">
																																																																																																																																																																													<a href="{{ path('user_acces_show', {'id': user.id}) }}" class="btn btn-success btn-xs">
																																																																																																																																																																														<i class="fa fa-eye"></i>
																																																																																																																																																																													</a>
																																																																																																																																																																												</td>
																																																																																																																																																																											</tr>
																																																																																																																																																																										{% endfor %} #}

</table>{% endblock %}{% block javascripts %}
{{ parent() }}

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src='/js/ad.js'></script>{% endblock %}
