{{ form_start(search_form) }}
<div class="col-xs-12" style="float: center !important;">
	<div class="col-xs-1" style="padding-right: 2px;padding-left: 2px;">
		{{ form_row(search_form.f, {attr: {class: 'form-control', 'placeholder': ' Prénom...'}}) }}
	</div>
	<div class="col-xs-1" style="padding-right: 2px;padding-left: 2px;">
		{{ form_row(search_form.l, {attr: {class: 'form-control', 'placeholder': ' Nom...'}}) }}
	</div>
	<div class="col-xs-1" style="padding-right: 2px;padding-left: 2px;">
		{{ form_row(search_form.g, {attr: {class: 'form-control', 'placeholder': ' E-mail...'}}) }}
	</div>

	<div class="col-xs-1" style="padding-right: 2px;padding-left: 2px;">
		{{ form_row(search_form.t, {attr: {class: 'form-control', 'placeholder': ' Téléphone...'}}) }}
	</div>
	<div class="col-xs-1" style="padding-right: 2px;padding-left: 2px;">
		{{ form_row(search_form.r, {attr: {class: 'form-control', 'placeholder': ' Raison sociale...'}}) }}
	</div>
	<div class="col-xs-1" style="padding-right: 2px;padding-left: 2px;">
		{{ form_row(search_form.team, {attr: {class: 'form-control', 'placeholder': ' Equipe...'}}) }}
	</div>
	<div class="col-xs-1" style="padding-right: 2px;padding-left: 2px;">
		{{ form_row(search_form.k, {attr: {class: 'form-control', 'placeholder': ' Commercial...'}}) }}
	</div>
	<div class="col-xs-1" style="padding-right: 2px;padding-left: 3px;">
		{{ form_row(search_form.d) }}
	</div>
	<div class="col-xs-1" style="padding-right: 2px;padding-left: 3px;">
		{{ form_row(search_form.dd) }}
	</div>
	<div class="input-group-btn col-xs-1" style="padding-right: 2px;padding-left: 2px;">
		<h1>

			<button class="btn btn-primary btn search-btn" type="submit">
				<i class="fa fa-search" aria-hidden="true"></i>
			</button>
			<button class="btn btn-theme" value="back" onclick="history.go(-1)">
				<i class="fa fa-undo" aria-hidden="true"></i>
			</button>

			<button class="btn btn-primary" type="reset" id="reset-button">
				<i class="fa fa-refresh" aria-hidden="true"></i>
			</button>

		</h1>
	</div>
</div>

{{ form_end(search_form) }}
<script>
	document.getElementById("reset-button").addEventListener("click", function () { // Réinitialisez les paramètres de l'URL à vide
window.location.href = window.location.pathname;
});
</script>
