{% extends 'base.html.twig' %}

{% block title %}Client
{% endblock %}

{% block body %}


	<div class="container">
		<section class="content-header">
			<h1>
				Gestion
				<small>Clients</small>
			</h1>
			<ol class="breadcrumb">
				<li>
					<a href="{{ path('client_index') }}">
						<i class="fa fa-object-client"></i>
						Tous les clients</a>
				</li>
				<li class="active">{{ client.firstname }}</li>
			</ol>
		</section>

		<div class="col-md-12 mt">
			<div class="content-panel">
				<table class="table table-hover">
					<h4>
						<i class="fa fa-angle-right"></i>
						client :

						<b>{{client.firstname }}
							{{ client.lastname }}
						</b>
					</h4>
					<hr>
					<tbody>
						<tr>
							<th>Id</th>
							<td>{{ client.id }}</td>
						</tr>
						<tr>
							<th>Firstname</th>
							<td>{{ client.firstname }}</td>
						</tr>
						<tr>
							<th>Lastname</th>
							<td>{{ client.lastname }}</td>
						</tr>
						<tr>
							<th>Phone</th>
							<td>{{ client.phone }}</td>
						</tr>
						<tr>
							<th>Email</th>
							<td>{{ client.email }}</td>
						</tr>
						<tr>
							<th>raisonSociale</th>
							<td>{{ client.raisonSociale }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
