<div class="form-panel">
	<h4 class="mb">
		<i class="fa fa-plus-square-o"></i>
		{{ form_title|default('  Ajouter une prospect') }}
	</h4>

	<div class="col-sm-2 col-sm-2 control-label"></div>
	<div class="col-sm-8">
		{% if not form.vars.valid %}
			<ul class="alert-danger">
				{% for child in form.children %}
					{% if child.vars.errors is defined %}
						{% for error in child.vars.errors %}
							<li>{{ error.message }}</li>
						{% endfor %}
					{% endif %}
				{% endfor %}
			</ul>
		{% endif %}
	</div>

	{{ form_start(form) }}
	{# {{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }} #}

	<div class="row">
		<div class="form-group">
			<div class="form-group col-sm-6">

				<div class="alert alert-light">
					{{ form_row(form.name) }}
					{# {{ form_row(form.name, {'attr': {'disabled': true}}) }} #}
					{{ form_row(form.lastname) }}
					{{ form_row(form.gender) }}
					{{ form_row(form.brithAt) }}
					{{ form_row(form.phone) }}
					{{ form_row(form.gsm) }}
					{{ form_row(form.email) }}
					{{ form_row(form.city) }}
					{{ form_row(form.adress) }}
					{{ form_row(form.codePost) }}
				</div>

			</div>
		</div>
		<div class="form-group">
			<div class="form-group col-sm-6">
				<div style="display: none">
					{{ form_row(form.source) }}
				</div>
				<div class="alert alert-light">


					{{ form_row(form.motifSaise) }}

					{# <div id="subMotiv-container" style="display: none">
																																																																																																																																		     {{ form_row(form.motifSaise) }}
																																																																																																																																		 </div> #}
					<div>
						{{ form_label(form.product, 'Produit') }}
						{{ form_widget(form.product, {'attr': {'class': 'form-control selectchoice'}}) }}
					</div>


					<div>
						{{ form_row(form.typeProspect) }}
					</div>
					{# <div id="activites-div" style="display: none;">
																																																																																																																																																																																				
																																																																																																																																																																																			</div> #}
					{# {{ form_row(form.raisonSociale) }} #}
					{# <div id="subcategory-container" style="display: none"> {{ form_row(form.activites) }} #}<div>

					</div>
						<div id="subcategory-container" style="display: none"> {{ form_row(form.raisonSociale) }}
						{{ form_row(form.activites) }}

					</div>

					{{ form_row(form.assure) }}
					{{ form_row(form.lastAssure) }}
					<div id="subResil-container" style="display: none">
						{{ form_row(form.motifResil) }}
					</div>


					{# {{ form_row(form.team) }} 
																																																																																																																																																																																																																																																																																																																																																														 {{ form_row(form.comrcl) }}  #}

					{# {{ form_rest(form, {'render_rest': false}) }} #}
					{% if is_granted ('ROLE_ADMIN') %}
						{{ form_row(form.team) }}

					{% else %}

						{{ form_widget(form.team, { 'attr' : { 'style':'display:none'} }) }}


					{% endif %}

					{% if is_granted ('ROLE_ADMIN') or is_granted ('ROLE_TEAM')  %}

						{{ form_row(form.comrcl) }}

					{% else %}

						{{ form_widget(form.comrcl, { 'attr' : { 'style':'display:none'} }) }}

					{% endif %}
					{# {{ form_row(form.relanceds) }} #}

				</div>
			</div>
		</div>
	</div>

	<div class="text-center">
		<button class="btn btn-theme" value="back" onclick="history.go(-1)">Annuler</button>

		<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
	</div>
	{{ form_end(form) }}
</div>

<script>
	document.addEventListener("DOMContentLoaded", function () {
var typeProspectField = document.getElementById("{{ form.typeProspect.vars.id }}");
var activitesField = document.getElementById("{{ form.activites.vars.id }}");
var subcategoryContainer = document.getElementById("subcategory-container");

typeProspectField.addEventListener("change", function () {
if (typeProspectField.value === '2') {
subcategoryContainer.style.display = "block";
activitesField.setAttribute('required', 'required');
} else {
subcategoryContainer.style.display = "none";
activitesField.removeAttribute('required');
}
});
});
</script>


{# {{ form_rest(form, {'exclude': ['hiddenField'], 'render_rest': false}) }} #}
{# <script>
	// Attachez une fonction à l'événement change du champ typeProspect
$('#    {{ form.typeProspect.vars.id }}').change(function () { // Obtenez la valeur sélectionnée dans typeProspect
var typeProspectValue = $(this).val();

// Obtenez la valeur sélectionnée dans le champ produit
var produitValue = $('#    {{ form.produit.vars.id }}').val();

// Condition pour afficher ou masquer le champ activites
if (typeProspectValue === 'Professionnels' && produitValue === 'Auto') {
$('#activites-div').show();
} else {
$('#activites-div').hide();
}
});

// Attachez une fonction à l'événement change du champ produit
$('#    {{ form.produit.vars.id }}').change(function () { // Obtenez la valeur sélectionnée dans typeProspect
var typeProspectValue = $('#    {{ form.typeProspect.vars.id }}').val();

// Obtenez la valeur sélectionnée dans le champ produit
var produitValue = $(this).val();

// Condition pour afficher ou masquer le champ activites
if (typeProspectValue === 'Professionnels' && produitValue === 'Auto') {
$('#activites-div').show();
} else {
$('#activites-div').hide();
}
});
</script> #}
