{% extends 'base.html.twig' %}

{% block title %}Liste des Prospects - Aksam
{% endblock %}

{% block body %}
	{% for label,  messages in app.flashes  %}
		<div class="container">
			<div class="alert alert-{{ label }}">
				{% for message in messages %}
					{{ message | raw }}
				{% endfor %}

			</div>
		</div>

	{% endfor %}
	{% for message in app.flashes('warning') %}
		<div class="alert alert-warning">
			{{ message }}
		</div>
	{% endfor %}
	<section class="content-header">
		{% if app.request.get('_route') == 'newprospect_index' %}
			<h2>Nouveaux Prospects</h2>
		{% elseif app.request.get('_route') == 'prospect_search' %}
			<h2>Tous Prospects</h2>
		{% elseif app.request.get('_route') == 'relancejour_index' %}
			<h2>Les Relances du Jour</h2>
		{% elseif app.request.get('_route') == 'relancenotraite_index' %}
			<h2>Les Relances Non Traitées</h2>
		{% elseif app.request.get('_route') == 'avenir_index' %}
			<h2>Les Relances à venir</h2>
		{% elseif app.request.get('_route') == 'app_unjoinable' %}
			<h2>Les Injoignables</h2>
		{% elseif app.request.get('_route') == 'notrait_index' %}
			<h2>Les Prospects Non Traités</h2>

		{% endif %}

		<ol class="breadcrumb">
			<li>
				<a href="{{ path('dashboard') }}">
					<i class="fa fa-dashboard"></i>
					Tableau de bord</a>
			</li>
			<li class="active">
				<a href="{{ path('app_table_liste') }}">
					<i class="fa fa-users"></i>
					Toutes les Tables</a>
			</li>
			<!-- NOTIFICATION DROPDOWN -->
			<li id="header_notification_bar" class="dropdown">
				<a data-toggle="dropdown" class="dropdown-toggle" href="#">
					<i class="fa fa-shopping-cart"></i>
					<span class="badge bg-warning">{{ prospects|length }}
					</span>
				</a>

			</li>
			<!-- END NOTIFICATION DROPDOWN -->
		</ol>
		<br>
		{# {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEAM')  == true %}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								<a href="{{ path('app_prospect_new') }}" class="btn btn-primary">Ajouter Prospect</a>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						          	{% endif %} #}
	</section>
	<div class="col-xs-12" style="float: right !important;">
		<div class="row" style="margin-right: 10px;">
			{% include 'prospect/_search_form.html.twig' with {search_form: search_form} only %}
		</div>
	</div>
	<div class="row mt">
		<div class="col-lg-12">
			<div class="content-panel">
				<hr>

				<table class="table table-striped table-advance table-hover">
					<thead>
						<tr>

							{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEAM') or is_granted('ROLE_AFFECT') %}
								<th>Source</th>
								<th>Autor</th>
								{% if app.request.get('_route') != 'newprospect_index' %}
									<th>Commercial</th>
									<th>Equipe</th>
									<th>Status</th>
								{% endif %}
							{% endif %}

							<th>Produit</th>
							<th>Activité</th>
							<th>Type Prospect</th>
							<th>Date Creation</th>
							<th>Nom</th>
							<th>Prénom</th>
							<th>Raison Sociale</th>
							<th>Email</th>
							<th>Téléphone</th>
							{% if app.request.get('_route') == 'app_unjoinable' %}
								<th>Motife</th>
								<th>Date injoinable</th>
							{% endif %}

							{% if app.request.get('_route') == 'relancejour_index' or 
							      app.request.get('_route') == 'relancenotraite_index' or
								  app.request.get('_route') == 'prospect_search' or
								  app.request.get('_route') == 'avenir_index'  
								    %}
								<th>Motife</th>

								<th>Date Relance</th>

							{% endif %}


							{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEAM') == true or is_granted('ROLE_AFFECT') %}
								<th>
									option
								</th>

							{% endif %}
							<th>
								actions
							</th>

						</tr>
					</thead>
					<tbody>
						{% set phones = [] %}
						{% set emails = [] %}
						{% for prospect in prospects %}
							<tr>

								{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEAM')   or is_granted('ROLE_AFFECT')%}
									<td>
										{# si source est null alors site  #}
										{% if prospect.source  == 3 %}
											{% if prospect.url  is null and prospect.source  == 3  %}
												Autre Site
											{% elseif prospect.url  is null and prospect.source == 1 %}
												Saisie

											{% elseif prospect.url == 1 %}
												<a href="https://www.assurance-des-vtc.fr" target="_blank" title="https://www.assurance-des-vtc.fr">des-vtc</a>
											{% elseif prospect.url == 2 %}
												<a href="https://www.assurance-garage-pro.fr" target="_blank" title="https://www.assurance-garage-pro.fr">garage-pro</a>
											{% elseif prospect.url == 3 %}
												<a href="https://www.assurance-pour-taxi.fr" target="_blank" title="https://www.assurance-pour-taxi.fr">pour-taxi</a>
											{% elseif prospect.url == 4 %}
												<a href="https://assurance-pour-vtc.fr/" target="_blank" title="https://assurance-pour-vtc.fr/">pour-vtc</a>
											{% elseif prospect.url == 5 %}
												<a href="https://lassurance-des-resilies.fr" target="_blank" title="https://lassurance-des-resilies.fr">des-resilies</a>
											{% elseif prospect.url == 6 %}
												<a href="https://lassurance-garantie-decennale.fr" target="_blank" title="https://lassurance-garantie-decennale.fr">decennale</a>
											{% elseif prospect.url == 7 %}
												<a href="https://comparez-en-ligne.fr" target="_blank" title="https://comparez-en-ligne.fr">comparez</a>
											{% elseif prospect.url == 8 %}
												<a href="https://assurance-pour-camion.fr" target="_blank" title="https://assurance-pour-camion.fr/">camion</a>
											{% elseif prospect.url == 9 %}
												<a href="https://assurance-flotte-entreprise.fr" target="_blank" title="https://assurance-flotte-entreprise.fr">flotte</a>
											{% elseif prospect.url == 10 %}
												<a href="https://assurance-vehicule-pro.fr" target="_blank" title="https://assurance-vehicule-pro.fr">vehicule-pro</a>
											{% elseif prospect.url == 11 %}
												<a href="https://lassurance-des-transporteurs.fr" target="_blank" title="https://lassurance-des-transporteurs.fr/">transporteurs</a>
											{% elseif prospect.url == 12 %}
												<a href="https://assurance-vehicules-professionnels.fr" target="_blank" title="https://assurance-vehicules-professionnels.fr">vehicules-prof</a>
											{% elseif prospect.url == 13 %}
												<a href="https://assurance-engins-chantier.fr" target="_blank" title="https://assurance-engins-chantier.fr">engins</a>
											{% elseif prospect.url == 14 %}
												<a href="https://assurance-professionnels-auto.fr" target="_blank" title="https://assurance-professionnels-auto.fr">prof-auto</a>
											{% endif %}
										{% endif %}
										{% if prospect.source == 2 %}
											Revendeur
										{% endif %}
										{# si source est saisi maniale  #}
										{% if prospect.source == 1 %}
											{% if prospect.motifSaise is null %}
												LEADS
											{% endif %}
											{% if prospect.motifSaise == 1 %}
												Parrainage
											{% endif %}
											{% if prospect.motifSaise == 2 %}
												Appel Entrant
											{% endif %}
											{% if prospect.motifSaise == 3 %}
												Avenant
											{% endif %}
											{% if prospect.motifSaise == 4 %}
												Ancienne Contrat
											{% endif %}
											{% if prospect.motifSaise == 5 %}
												Propre site
											{% endif %}
											{% if prospect.motifSaise == 6 %}
												Revendeur
											{% endif %}
										{% endif %}
									</td>
								</td>
								<td>
									{% if prospect.autor  is not empty %}
										<a href="#">
											{{ prospect.autor }}
										</a>
									{% else %}
										<a href="#">
											Site
										</a>
									{% endif %}

								</td>

								{% if app.request.get('_route') != 'newprospect_index' %}
									<td>
										{% if prospect.comrcl is not empty %}

											<a href="#">
												{{ prospect.comrcl  }}
											</a>
										{% else %}
											<a href="#">
												En attend
											</a>
										{% endif %}
									</td>


									<td>
										{% if prospect.team is not empty %}
											{{ prospect.team }}
										{% else %}
											Aucun
										{% endif %}

									</td>
									<td>
										{% if prospect.comrcl and prospect.team is not empty %}
											<button class="btn btn custom-gren-text">Commercial
											</button>
										{% elseif prospect.comrcl is  empty and prospect.team is not empty  %}
											<button class="btn btn custom-blue-text">Chef d'Equipe
											{% else %}
												<button class="btn btn custom-red-text">Nouveau
												</button>
											{% endif %}
										</td>
									{% endif %}
								{% endif %}

								<td>
									{% if prospect.product is not empty %}
										{{ prospect.product }}
									{% else %}
										{% if prospect.url == 1 %}
											AUTO
										{% elseif prospect.url == 2 %}
											RCPRO
										{% elseif prospect.url == 3 %}
											AUTO
										{% elseif prospect.url == 4 %}
											AUTO
										{% elseif prospect.url == 5 %}
											AUTO
										{% elseif prospect.url == 6 %}
											CONSTRUCTION
										{% elseif prospect.url == 7 %}
											AUTO
										{% elseif prospect.url == 8 %}
											camion
										{% elseif prospect.url == 9 %}
											AUTO
										{% elseif prospect.url == 10 %}
											AUTO
										{% elseif prospect.url == 11 %}
											AUTO
										{% elseif prospect.url == 12 %}
											AUTO
										{% elseif prospect.url == 13 %}
											ENGINS
										{% elseif prospect.url == 14 %}
											RCPRO
										{% endif %}

									{% endif %}
								</td>
								<td>
									{% if prospect.activites is null %}
										Pas encore rempli
									{% elseif  prospect.activites == 1 %}
										TPM
									{% elseif prospect.activites == 2 %}
										VTC
									{% elseif prospect.activites == 3 %}
										Sociéte
									{% elseif prospect.activites == 4 %}
										Décenale
									{% elseif prospect.activites == 5 %}
										Dommage
									{% elseif prospect.activites == 6 %}
										Marchandise
									{% elseif prospect.activites == 7 %}
										Négociant
									{% elseif prospect.activites == 8 %}
										Professionnel Auto
									{% endif %}
								</td>
								<td>
									{% if prospect.typeProspect == 1 %}
										Particulier
									{% endif %}
									{% if prospect.typeProspect == 2 %}
										Professionnel
									{% endif %}
								</td>

								<td>{{ prospect.creatAt|date('Y-m-d H:i') }}</td>

								<td>{{ prospect.name }}</td>
								<td>{{ prospect.lastname }}</td>
								<td>{{ prospect.raisonSociale }}</td>

								<td>
									{% if prospect.secdEmail is not empty  %}
										{{ prospect.secdEmail }}
									{% else %}
										{# verifie si email Doublon #}
										{% if prospect.email in emails %}
											<td style="color:red">{{ prospect.email }}</td>
										{% else %}
											<td>{{ prospect.email }}</td>
											{% set emails = emails|merge([prospect.email]) %}
										{% endif %}
									{% endif %}
								</td>
								<td>
									{% if prospect.gsm is not empty  %}
										{{ prospect.gsm }}
									{% else %}
										{# verifie si phone Doublon #}
										{% if prospect.phone in phones %}
											<td style="color:red">{{ prospect.phone }}</td>
										{% else %}
											<td>{{ prospect.phone }}</td>
											{% set phones = phones|merge([prospect.phone]) %}
										{% endif %}

									{% endif %}
								</td>

								{% if app.request.get('_route') == 'relancejour_index' or 
							app.request.get('_route') == 'app_unjoinable' or 
							app.request.get('_route') == 'relancenotraite_index' or  
							app.request.get('_route') == 'prospect_search' or  
							app.request.get('_route') == 'avenir_index' %}
									<td>

										{% set lastRelance = prospect.relanceds|sort((a, b) => b.relacedAt <=> a.relacedAt)|first %}

										{% if lastRelance is not empty %}
											{% if lastRelance.motifRelanced == 1 %}
												Rendez-vous
											{% elseif lastRelance.motifRelanced == 2 %}
												Unjoing
											{% elseif lastRelance.motifRelanced == 3 %}
												Déjà Souscrit
											{% elseif lastRelance.motifRelanced == 4 %}
												Attente DOC
											{% elseif lastRelance.motifRelanced == 5 %}
												Tarification
											{% elseif lastRelance.motifRelanced == 6 %}
												Prise de Décision
											{% elseif lastRelance.motifRelanced == 7 %}
												Faux Fiche
											{% elseif lastRelance.motifRelanced == 8 %}
												Doublon
											{% elseif lastRelance.motifRelanced == 9 %}
												Passage Concurrent
											{% elseif lastRelance.motifRelanced == 10 %}
												Passage Contrat
											{% endif %}
											<br>
										{% endif %}
									</td>


									<td>

										{% set lastRelance = prospect.relanceds|sort((a, b) => b.relacedAt <=> a.relacedAt)|first %}

										{% if lastRelance is not empty %}
											{% if app.request.get('_route') == 'app_unjoinable' %}
												{% if lastRelance.motifRelanced == 2 %}
													{% if lastRelance.relacedAt is not empty %}
														{{ lastRelance.relacedAt|date('Y-m-d H:i') }}
														<br>
													{% endif %}
												{% endif %}
											{% else %}
												{% if lastRelance.relacedAt is not empty %}
													{{ lastRelance.relacedAt|date('Y-m-d H:i') }}
													<br>
												{% endif %}
											{% endif %}
										{% endif %}


									</td>


								{% endif %}


								{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEAM') or is_granted('ROLE_AFFECT') %}
									<td>
										{{ render(controller('App\\Controller\\ProspectController::edit',{'id':prospect.id}))}}


									</td>
								{% endif %}

								<td class="btn-toolbar">
									<a href="{{ path('app_prospect_show', {'id': prospect.id}) }}" class="btn btn-success btn-xs">
										<i class="fa fa-eye fa-2x text-primary" aria-hidden="true"></i>
									</a>
									{% if   is_granted('ROLE_SUPER_ADMIN') %}
										<a href="{{ path('app_prospect_editsup', {'id': prospect.id}) }}" class="btn btn-primary btn-xs">
											<i class="fa fa-pencil"></i>
										</a>
									{% endif %}

									{% if  app.request.get('_route') == 'newprospect_index' and is_granted('ROLE_SUPER_ADMIN') %}
										{% set form_title = '<i class="fa fa-trash-o  "></i>' %}
										{{ include('prospect/_delete_form.html.twig', { 'form_title': form_title }) }}
									{% endif %}
								</td>
							</tr>
						</tr>
					</tbody>


				{% endfor %}{# {% if  app.user and app.user == prospect.comrcl %}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						 	  Tableau
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							  {% endif %} #}</tbody>
			<tfoot class="text-right">
				<tr>
					<td colspan="9">
						{{ knp_pagination_render(prospects, 'pagination.html.twig') }}
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div></div>{% endblock %}{% block javascripts %}{{ parent() }}<script src='/js/ad.js'>{% endblock %}
