{% extends 'base.html.twig' %}

{% block title %}Liste des Prospects - Aksam
{% endblock %}

{% block body %}
	{% for label,  messages in app.flashes  %}
		<div class="container">
			<div class="alert alert-{{ label }}">
				{% for message in messages %}
					{{ message | raw }}
				{% endfor %}

			</div>
		</div>
	{% endfor %}
	<section class="content-header">
		{% if app.request.get('_route') == 'newprospect_index' %}
			<h2>Nouveaux Prospects</h2>
		{% elseif app.request.get('_route') == 'prospect_search' %}
			<h2>Tous Prospects</h2>
		{% elseif app.request.get('_route') == 'relancejour_index' %}
			<h2>Les Relances du Jour</h2>
		{% elseif app.request.get('_route') == 'relancenotraite_index' %}
			<h2>Les Relances Non Traités</h2>
		{% elseif app.request.get('_route') == 'avenir_index' %}
			<h2>Les Relances à venir</h2>
		{% elseif app.request.get('_route') == 'app_unjoinable' %}
			<h2>Les Injoignables</h2>
		{% elseif app.request.get('_route') == 'notrait_index' %}
			<h2>Les Prospects Non Traités</h2>
		{% elseif app.request.get('_route') == 'app_client' %}
			<h2>Les Clients</h2>
		{% endif %}

		<ol class="breadcrumb">
			<li>
				<a href="{{ path('dashboard') }}">
					<i class="fa fa-dashboard"></i>
					Tableau de bord</a>
			</li>
			<li class="active">
				<a href="{{ path('app_table_liste') }}">
					<i class="fa fa-users"></i>
					Toutes les Tables</a>
			</li>
			<!-- NOTIFICATION DROPDOWN -->

			<li id="header_notification_bar" class="dropdown">
				<a data-toggle="dropdown" class="dropdown-toggle" href="#">
					<i class="fa fa-shopping-cart"></i>
					<span class="badge bg-warning">{{ prospects|length }}
					</span>
				</a>

			</li>
			<!-- END NOTIFICATION DROPDOWN -->
		</ol>
		<br>
		{# {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEAM')  == true %}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																												<a href="{{ path('app_prospect_new') }}" class="btn btn-primary">Ajouter Prospect</a>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																										          	{% endif %} #}
	</section>
	<div class="col-xs-12" style="float: right !important;">
		<div class="row" style="margin-right: 10px;">
			{% include 'prospect/_search_form.html.twig' with {search_form: search_form} only %}
		</div>
	</div>
	<div class="row mt">
		<div class="col-lg-12">
			<div class="content-panel">


				<hr>

				<table class="table table-striped table-advance table-hover">
					<thead>

						<tr>
							{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEAM') == true %}
								<th>Source</th>
								<th>Motif</th>
							{% endif %}

							{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEAM') == true %}
								<th>Autor</th>
								<th>Commercial</th>

							{% endif %}
							{% if is_granted('ROLE_ADMIN')  == true %}
								<th>Equipe</th>
							{% endif %}

							{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEAM') == true %}
								<th>Status</th>
							{% endif %}


							<th>Type Prospect</th>


							<th>Nom</th>
							<th>Prenom</th>
							<th>Raison Sociale</th>
							<th>Email</th>
							<th>Telephone</th>
							<th>Telephone 2</th>


							{% if app.request.get('_route') == 'relancejour_index' or 
							      app.request.get('_route') == 'relancenotraite_index' %}
								<th>Date Relance</th>
							{% elseif app.request.get('_route') == 'app_unjoinable' %}
								<th>Date injoinable</th>
							{% elseif app.request.get('_route') == 'app_client' %}
								<th>Date soucrire</th>
							{% elseif app.request.get('_route') == 'avenir_index' %}
								<th>Date a venir</th>
							{% endif %}
							{# <th>Assure</th>#}
							{# <th>Ancienne</th>#}
							{# <th>Motife Resil</th> #}

								{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEAM') == true %}
									<th>
								option
							</th>

							{% endif %}
								<th>
							actions
						</th>

					</tr>
				</thead>
			</tr>
			</thead>
				<tbody>

					{% for prospect in prospects %}
						<tr>
							{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEAM') == true %}
								<td>
							{{ prospect.source }}
							</td>

								<td>
									{% if prospect.motifSaise is null %}
								LEADS
								{% endif %}
									{% if prospect.motifSaise == 1 %}
								Parrainage
								{% endif %}
									{% if prospect.motifSaise == 2 %}
								Appel Entrant
								{% endif %}
									{% if prospect.motifSaise == 3 %}
								Avenant
								{% endif %}
									{% if prospect.motifSaise == 4 %}
								Ancienne Contrat
							{% endif %}

						</td>
						{% endif %}
							{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEAM') == true %}
								<td>
									{% if prospect.autor  is not empty %}

										<a href="#" class="btn btn-primary  "> {{ prospect.autor }}
									</a>
								{% else %}
									<a href="#" class="btn btn-success  ">
										Site
									</a>
								{% endif %}

							</td>


							{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEAM') == true %}
								<td>

									{% if prospect.comrcl is not empty %}

										<a href="#" class="btn btn-info ">
											{{ prospect.comrcl  }}
										</a>
									{% else %}
										<a href="#" class="btn btn-success  ">
											En attend
										</a>
									{% endif %}
								</td>
							{% endif %}
						{% endif %}
						{% if is_granted('ROLE_ADMIN') == true %}
							<td>

								{% if prospect.team is not empty %}
									{{ prospect.team }}
								{% else %}
									Aucun
								{% endif %}

							</td>
						{% endif %}


						{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEAM') == true %}
							<td>
								{% if prospect.comrcl and prospect.team is not empty %}
									<button class='btn btn' style="background-color:Violet;">Commercial
									</button>


								{% elseif prospect.comrcl is  empty and prospect.team is not empty  %}
									<button class='btn btn' style="background-color:Orange;">Chef Equipe
									{% else %}
										<button class='btn btn' style="background-color:SlateBlue;">Nouveau
										</button>
									{% endif %}
								</td>
							{% endif %}


							<td>{{ prospect.typeProspect }}</td>


							<td>{{ prospect.name }}</td>
							<td>{{ prospect.lastname }}</td>
							<td>{{ prospect.raisonSociale }}</td>
							<td>{{ prospect.email }}</td>
							<td>{{ prospect.phone }}</td>
							<td>{{ prospect.gsm }}</td>


							{% if app.request.get('_route') == 'relancejour_index' or 
							app.request.get('_route') == 'app_unjoinable' or 
							app.request.get('_route') == 'relancenotraite_index' or
							app.request.get('_route') == 'avenir_index' %}

								<td>
									{% for relance in prospect.relanceds|sort(null, 'desc') %}
										{% if app.request.get('_route') == 'app_unjoinable' %}
											{% if relance.motifRelanced == 2 %}
												{% if relance.relacedAt is not empty %}
													{{ relance.relacedAt|date('Y-m-d H:i:s') }}
													<br>
												{% endif %}
											{% endif %}
										{% else %}
											{% if relance.motifRelanced == 1 %}
												{% if relance.relacedAt is not empty %}
													{{ relance.relacedAt|date('Y-m-d H:i:s') }}
													<br>
												{% endif %}
											{% endif %}
										{% endif %}
									{% endfor %}
								</td>
							{% endif %}


							{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEAM') %}
								<td>
									{{ render(controller('App\\Controller\\ProspectController::edit',{'id':prospect.id}))}}


								</td>
							{% endif %}


							<td class="btn-toolbar">
								<a href="{{ path('app_prospect_show', {'id': prospect.id}) }}" class="btn btn-success btn-xs">
									<i class="fa fa-eye fa-2x text-primary" aria-hidden="true"></i>
								</a>

							</td>

						</tr>
					</tr>
				</tbody>


			</tbody>
		{% endfor %}{# {% if  app.user and app.user == prospect.comrcl %}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																			 	  Tableau
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																				  {% endif %} #}</tbody>
	<tfoot class="text-right">
		<tr>


			<td colspan="9">
				{{ knp_pagination_render(prospects, 'pagination.html.twig') }}
			</td>

		</tr>
	</tfoot>
</table></div></div></div>{% endblock %}{% block javascripts %}{{ parent() }}<script src='/js/ad.js'>// {
																																																																																																																																																																																																																																																																																																							// # $(document).ready(function () {
																																																																																																																																																																																																																																																																																																							// $("#reset-button").click(function () {
																																																																																																																																																																																																																																																																																																							// $("#my-form .alert").empty();
																																																																																																																																																																																																																																																																																																							// });
																																																																																																																																																																																																																																																																																																							// });
																																																																																																																																																																																																																																																																																																							// #
																																																																																																																																																																																																																																																																																																							// }</script>{% endblock %}
