{% extends 'base.html.twig' %}

{% block title %}Information du
	{{ prospect.name }}
	{{ prospect.lastname }}- Aksam
{% endblock %}

{% block body %}


	<div class="col-lg-12">
		<section class="content-header">
			<h1>
				Prospect

			</h1>
			<ol class="breadcrumb">
				<li>
					<a href="{{ path('app_table_liste') }}">
						<i class="fa fa-users"></i>
						Toutes les Tables</a>
				</li>
				<li class="active">
					{{ prospect.name }}
					{{ prospect.lastname }}</li>
			</ol>
		</section>


		<div class="form-group col-sm-4">
			<div class="content-panel">

				<table class="table table-hover">
					<h3>
						<i class="fa fa-angle-right"></i>
						Prospect du
						<b>{{ prospect.name }}
							{{ prospect.lastname }}
						</b>
						{# {% if  app.user and app.user == prospect.comrcl %} #}
					{# {{ prospect.lastname }}</b> tu as {{" %02d"|format(app.session.get('security'))}} en panier  #}
						{# {% endif %} #}
					</h3>


					<p class="centered">


						<img src=" {{ asset('images/aksamLogo.jpeg') }} " class="img-circle" width="80" alt="">
					</p>


					<hr>

					<thead>
						<tr>
							{# <div id="relance-div" class="btn-group pull-right" style="margin-right: 5px;">
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																															Relance
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																														</div> #}
							<div class="btn-group pull-right" style="margin-right: 5px;">
								{% if is_granted('ROLE_ADMIN') == true %}
									<button type="button" class="btn btn-danger">Action</button>

									<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="caret"></span>
										<span class="sr-only">Toggle Dropdown</span>
									</button>
								{% endif %}
								<ul class="dropdown-menu">
									<li>

										<a href="{{ path('app_prospect_edit', {'id': prospect.id}) }}">
											<i class="fa fa-edit"></i>
											Modifier
										</a>
									</li>
									{# <li class="show-delete">
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							{{ include('prospect/_delete_form.html.twig') }}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						</li> #}
									<li role="separator" class="divider"></li>
									<li>
										<a href="{{ path('app_table_liste') }}">
											<i class="fa fa-undo"></i>
											Retour a la liste des prospects
										</a>
									</li>
									<li></li>
									{# <a href="{{ path('app_relance', {'id': prospect.id}) }}" class="btn btn-primary">Relance</a>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								<i class="fa fa-undo"></i>																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						Planifier																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						</a> #}
								</li>
							</ul>

							{# {{ render(controller('App\\Controller\\ProspectController::relance',{'id':prospect.id}))}} #}
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>Prénom</th>
							<td>{{ prospect.name }}</td>
						</tr>
						<tr>
							<th>Nom</th>
							<td>{{ prospect.lastname }}</td>
						</tr>
						<tr>
							<th>Téléphone 1</th>
							<td>{{ prospect.phone }}</td>
						</tr>
						<tr>
							<th>Téléphone 2</th>

							<td>
								<form method="post">
									{{  form_widget(gsmForm.gsm) }}
									<button type="submit">Enregistrer</button>
									{{ form_row( gsmForm._token) }}

								</form>
							</td>

							{# <td>{{ prospect.gsm }}</td> #}
						</tr>
						<tr>
							<th>Email
							</th>
							<td>{{ prospect.email }}</td>
						</tr>
						<tr>
							<th>Gender</th>
							<td>
								{% if prospect.gender == 1 %}Male{% else %}Female
								{% endif %}
							</td>
						</tr>
						<tr>
							<th>Ville</th>
							<td>{{ prospect.city }}</td>
						</tr>
						<tr>
							<th>Adresse
							</th>
							<td>{{ prospect.adress }}</td>
						</tr>
						<tr>
							<th>Date de naissance</th>
							<td>{{ prospect.brithAt ? prospect.brithAt|date('Y-m-d') }}</td>
						</tr>
						<tr>
							<th>Source</th>
							<td>
								{% if prospect.source == 1 %}
									Saisie Manuelle
								{% elseif prospect.source == 2 %}
									site Revendeur
								{% elseif prospect.source is null %}
									Site pub
								{% endif %}
							</td>
						</tr>
						<tr>
							<th>Motive de saisir</th>

							<td>
								{% if prospect.motifSaise  is null %}
									Autre
								{% elseif prospect.motifSaise == 1 %}
									Parrainage
								{% elseif prospect.motifSaise == 2 %}
									Appel Entrant
								{% elseif prospect.motifSaise == 3 %}
									Avenant
								{% elseif prospect.motifSaise == 4 %}
									Ancienne contrat
								{% elseif prospect.motifSaise == 5 %}
									Propre site
								{% elseif prospect.motifSaise == 6 %}
									Revendeur
								{% endif %}


							</td>
						</tr>
						<tr>
							<th>Site Pub :</th>
							<td>
								{% if prospect.url  is null and prospect.source is null  %}
									Autre Site
								{% elseif prospect.url  is null and prospect.source == 1 %}
									Saisie
								{% elseif prospect.url == 1 %}
									<a href="https://www.assurance-des-vtc.fr" target="_blank">https://www.assurance-des-vtc.fr</a>

								{% elseif prospect.url == 2 %}
									<a href="https://www.assurance-garage-pro.fr" target="_blank">https://www.assurance-garage-pro.fr</a>
								{% elseif prospect.url == 3 %}
									<a href="https://www.assurance-pour-taxi.fr" target="_blank">https://www.assurance-pour-taxi.fr</a>
								{% elseif prospect.url == 4 %}
									<a href="https://assurance-pour-vtc.fr" target="_blank">https://assurance-pour-vtc.fr/</a>

								{% elseif prospect.url == 5 %}
									<a href="https://lassurance-des-resilies.fr" target="_blank">"https://lassurance-des-resilies.fr"</a>
								{% elseif prospect.url == 6 %}
									<a href="https://lassurance-garantie-decennale.fr" target="_blank">"https://lassurance-garantie-decennale.fr"</a>
								{% elseif prospect.url == 7 %}
									<a href="https://comparez-en-ligne.fr" target="_blank">"https://comparez-en-ligne.fr"</a>
								{% elseif prospect.url == 8 %}
									<a href="https://assurance-pour-camion.fr" target="_blank">"https://assurance-pour-camion.fr"</a>
								{% elseif prospect.url == 9 %}
									<a href="https://assurance-flotte-entreprise.fr" target="_blank">"https://assurance-flotte-entreprise.fr"</a>
								{% elseif prospect.url == 10 %}
									<a href="https://assurance-vehicule-pro.fr" target="_blank">"https://assurance-vehicule-pro.fr"</a>
								{% elseif prospect.url == 11 %}
									<a href="https://lassurance-des-transporteurs.fr" target="_blank">"https://lassurance-des-transporteurs.fr"</a>
								{% elseif prospect.url == 12 %}
									<a href="https://assurance-vehicules-professionnels.fr" target="_blank">"https://assurance-vehicules-professionnels.fr"</a>
								{% elseif prospect.url == 13 %}
									<a href="https://assurance-engins-chantier.fr" target="_blank">"https://assurance-engins-chantier.fr"</a>
								{% elseif prospect.url == 14 %}
									<a href="https://assurance-professionnels-auto.fr" target="_blank">"https://assurance-professionnels-auto.fr"</a>

								{% endif %}
							</td>
						</tr>
						<tr>
							<th>Type Prospect</th>
							<td>
								{% if prospect.typeProspect  is null %}
									Pas remplir
								{% elseif prospect.typeProspect == 1 %}
									Particulier
								{% elseif prospect.typeProspect == 2 %}
									Professionnel
								{% endif %}
							</td>
						</tr>
						<tr>
							<th>Raison Sociale</th>
							<td>
								{% if prospect.raisonSociale is not null %}
									{{ prospect.raisonSociale }}
								{% else %}
									Pas encore rempli
								{% endif %}
							</td>
						</tr>
						<tr>
							<th>Code Postal</th>
							<td>{{ prospect.codePost }}</td>
						</tr>

						<tr>
							<th>Assure</th>
							<td>
								{% if prospect.assure is not null %}
									{{ prospect.assure }}
								{% else %}
									Pas encore rempli
								{% endif %}
							</td>
						</tr>
						<tr>
							<th>Ancienne assurance résilié</th>
							<td>

								{% if prospect.lastAssure is not null %}
									{{ prospect.lastAssure }}
								{% else %}
									Pas encore rempli
								{% endif %}


							</td>
						</tr>
						<tr>
							<th>Motif Resil</th>
							<td>
								{% if prospect.motifResil is null %}
									Autre
								{% elseif prospect.motifResil == 1 %}
									Aggravation de risque
								{% elseif prospect.motifResil == 2 %}
									Amiable
								{% elseif prospect.motifResil == 3 %}
									Échéance
								{% elseif prospect.motifResil == 4 %}
									Non-paiement
								{% elseif prospect.motifResil == 5 %}
									Sinistre
								{% endif %}
							</td>
						</tr>
						<tr>
							<th>Créé par
							</th>
							<td>{{ prospect.autor }}</td>
						</tr>
						<tr>
							<th>Affecté Au
							</th>
							<td style="color:blue;">
								{% if prospect.comrcl is not empty %}
									{{ prospect.comrcl  }}
								{% else %}
									<a href="#" style="color:red;">
										En Attend
									</a>
								{% endif %}
							</td>
						</tr>
						<tr>
							<th>Produit</th>
							<td style="color:blue;">

								{% if prospect.product is not empty %}
									{{ prospect.product }}
								{% else %}
									Aucun
								{% endif %}

							</td>
						</tr>
						<tr>
							<th>Activité
							</th>
							<td style="color:blue;">

								{% if prospect.activites is null %}
									Pas encore rempli
								{% elseif  prospect.activites == 1 %}
									TPM
								{% elseif prospect.activites == 2 %}
									VTC
								{% elseif prospect.activites == 3 %}
									Sociéte
								{% elseif prospect.activites == 4 %}
									Décenale
								{% elseif prospect.activites == 5 %}
									Dommage
								{% elseif prospect.activites == 6 %}
									Marchandise
								{% elseif prospect.activites == 7 %}
									Négociant
								{% elseif prospect.activites == 8 %}
									Professionnel Auto
								{% endif %}
							</td>
						</tr>
						<tr>
							<th>Date de creation</th>
							<td>{{ prospect.creatAt |  date('d/m/Y, H:i:s')}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		{# <div id="relanceChoix" class="form-group" style="display: none;"> #}

		{# table relance #}

		<div class="form-group col-sm-4">
			<div class="content-panel">
				<div class="alert alert-light">
					<h1 class="text-center">Relance</h1>
					{{ form_start(form) }}

					{{ form_row(form.motifRelanced) }}

					<div id="subMotivRelc-container" style="display: none">
						{{ form_row(form.relacedAt) }}
					</div>
					<div id="MotivRelcoment-container" style="display: none">
						{{ form_row(form.comment) }}
						<button type="submit" id="relance-submit" class="btn btn-primary">Ajouter Relance</button>
					</div>


					{{ form_end(form) }}
					<div id="subMotivContrat-container" style="display: none">
						<h1 class="text-center">Client</h1>


						{{ form_start(clientForm, { 'attr': {'id': 'client-form'} }) }}
						{# {{ form_row(clientForm) }} #}
						{# {{ form_row(clientForm._token) }} #}
							<div style="display: none"> {{ form_row(clientForm.firstname) }}
							{{ form_row(clientForm.lastname) }}
							{{ form_row(clientForm.raisonSociale) }}
						</div>
						{{ form_row(clientForm.phone) }}
						{{ form_row(clientForm.email) }}
						{{ form_row(clientForm.adress) }}


						<button type="submit" id="client-submit" class="btn btn-primary">
							Ajouter Client</button>
						{{ form_end(clientForm) }}

					</div>
				</div>


				<div class="alert alert-light">

					<table class="table table-striped table-advance table-hover">
						<thead>

							<tr style="text-align: left; font-size:20px;">

								<th>Motif</th>
								<th>Date</th>
								<th>Comment</th>
							</tr>

						</thead>
						<tbody>
							{% for relance in prospect.relanceds %}
								<tr style="text-align:left;">


									<td>

										{% if relance.motifRelanced is null %}
											Autre
										{% endif %}
										{% if relance.motifRelanced == 1 %}
											Rendez-vous
										{% endif %}
										{% if relance.motifRelanced == 2 %}
											Unjoing
										{% endif %}
										{% if relance.motifRelanced == 3 %}
											Déjà Souscrit
										{% endif %}
										{% if relance.motifRelanced == 4 %}
											Attente Close
										{% endif %}
										{% if relance.motifRelanced == 5 %}
											Tarification
										{% endif %}
										{% if relance.motifRelanced == 6 %}
											Prise de Décision
										{% endif %}
										{% if relance.motifRelanced == 7 %}
											Faux Fiche
										{% endif %}
										{% if relance.motifRelanced == 8 %}
											Doublon
										{% endif %}
										{% if relance.motifRelanced == 9 %}
											Passage Concurrent
										{% endif %}
										{% if relance.motifRelanced == 10 %}
											Passage Contrat
										{% endif %}
									</td>

									<td>


										{{  relance.relacedAt  |  date('d/m/Y, H:i:s')}}</td>
									<br>

									<td class="truncated" onclick="showFullText(this)">
										<span class="shortened">{{  relance.comment |slice(0, 50) }}</span>
										<span class="fullText" style="display: none;">{{ relance.comment }}</span>
									</td>
									{# <td id="p1">{{  relance.comment |slice(0, 50) }}</td> #}
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>{# fin table relance #}{# table historique #}<div class="form-group col-sm-4">
			<div class="content-panel">
				<div class="alert alert-light">
					<h1 class="text-center">Historique d'Affectation</h1>
					<table class="table table-striped table-advance table-hover">
						<thead>

							<tr style="text-align: left; font-size:20px;">


								<th>Option</th>
								<th>Date</th>

							</tr>

						</thead>
						<tbody>
							{% for histor in teamHistory %}
								<tr>
									<td>
										Affecté au
										{{ histor.actionType }}</td>


									<td>{{ histor.actionDate|date('Y-m-d H:i:s') }}</td>


								</tr>
							{% endfor %}
						</tbody>
					</table>

				</div>
			</div>
		</div>{# fin table histor #}{# fin table histor appel #}<div class="form-group col-sm-4">
			<div class="content-panel">
				<div class="alert alert-light">
					<h1 class="text-center">Historique d'Appel
					</h1>
					<table class="table table-striped table-advance table-hover">
						<thead>

							<tr style="text-align: left; font-size:20px;">

								<th>User</th>
								<th>Nr</th>
								<th>Nr appelé</th>
								<th>Début d'appel</th>
								{# <th>Fin d'appel</th> #}
								<th>Durée</th>

							</tr>

						</thead>
						<tbody>
							{% for call in ringoverData.call_list %}
								{% if call.to_number == prospect.phone or call.to_number == prospect.gsm %}
									<tr>
										{% if call.user is not null %}
											<td>{{ call.user.concat_name }}</td>
										{% else %}
											<td>No user data</td>
										{% endif %}
										<td>+{{ call.from_number }}</td>
										<td>+{{ call.to_number }}</td>
										<td>{{ call.start_time|date('Y-m-d H:i') }}</td>
										{# <td>{{ call.end_time |date('Y-m-d H:i') }}</td> #}
										<td>{{ (call.total_duration / 60) | round(2, 'floor') | number_format(2, '.', ',') }}</td>


									</tr>
								{% endif %}
							{% endfor %}

						</tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div></div>{# fin table histor appel #}</div></div>{% endblock %}{# javascripts #}{% block javascripts %}{{ parent() }}<script src='/js/ad.js'></script>{% endblock %}
