{% extends 'base.html.twig' %}

{% block title %}
	Tableau de bord!

{% endblock %}

{% block body %}

	<style>
		.container {
			width: 100%;
		}
		/* .jumbotron {
			width: 90%; /* Ajustez la largeur selon vos besoins */
		margin: 0 auto;
	}
	*/
	</style>

	<div class="container">
		<div class="jumbotron mt-2">
			<h1 class="display-3 text-center">
				Prospects
			</h1>
			<hr class="my-4">

			<div
				class="col-md-2 col-sm-3 mb">

				<!-- REVENUE PANEL -->
				<div class="green-panel pn">


					<div class="green-header">
						<h2>RECHERCHE</h2>
					</div>

					<a href="{{ path('prospect_search')}}">
						<i class="fa fa-search fa-4x"></i>
						{# <h1>{{ " %02d"|format(stats.prospects ) }}</h1> #}
					</a>
				</div>
			</div>
			<!-- /grey-panel -->


			<!-- /col-md-4-->

			<div
				class="col-md-2 col-sm-3 mb">
				<!-- REVENUE PANEL -->
				<div class="green-panel pn">


					<div class="green-header">
						<h2>NOUVEAUX</h2>
					</div>
					<a href="{{ path('newprospect_index')}}">
						<i class="fa fa-product-hunt fa-4x" aria-hidden="true"></i>
						<h1>{{ " %02d"|format(stats.prospectsPasAffect ) }}</h1>
					</a>
				</div>
			</div>


			<div
				class="col-md-2 col-sm-3 mb">
				<!-- REVENUE PANEL -->
				<div class="green-panel pn">


					<div class="green-header">
						<h2>RELANCES DU JOUR</h2>
					</div>

					<a href="{{ path('relancejour_index')}}">
						<i class="fa fa-calendar-check-o fa-4x" aria-hidden="true"></i>
						<h1>{{ " %02d"|format(stats.prospectsTeam ) }}</h1>
					</a>
				</div>
			</div>


			<div
				class="col-md-2 col-sm-3 mb">
				<!-- REVENUE PANEL -->
				<div class="green-panel pn">


					<div class="green-header">
						<h2>RELANCES NON TRAITÉ</h2>
					</div>
					<a href="{{path('notrait_index')}}">
						<i class="fa fa-calendar-times-o fa-4x" aria-hidden="true"></i>
						<h1>{{ " %02d"|format(stats.prospectsNoTraite ) }}</h1>
					</a>
				</div>
			</div>

			<div
				class="col-md-2 col-sm-3 mb">
				<!-- REVENUE PANEL -->
				<div class="green-panel pn">


					<div class="green-header">
						<h2>INJOIGNABLES</h2>
					</div>

					<a href="{{path('app_unjoinable')}}">
						<i class="fa fa-volume-control-phone fa-4x" aria-hidden="true"></i>
						<h1>{{ " %02d"|format(stats.unjoiniable ) }}</h1>
					</a>

				</div>
			</div>
			<div
				class="col-md-2 col-sm-3 mb">
				<!-- REVENUE PANEL -->
				<div class="green-panel pn">


					<div class="green-header">
						<h2>AJOUTER PROSPECT</h2>
					</div>

					<a href="{{path('app_prospect_new')}}">
						<i class="fa fa-keyboard-o fa-5x" aria-hidden="true"></i>

						{# <i class="fa fa-newspaper-o fa-4x" aria-hidden="true"></i> #}

					</a>

				</div>
			</div>


		</div>
	</div>

{% endblock %}
