<div class="sidebar-toggle-box">
	<div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
</div>
<!-- LOGO -->
<a href="\" class="logo">
	<b>Ak<span>sam</span>
	</b>
</a>
<!-- END LOGO -->
<div
	class="nav notify-row" id="top_menu">
	<!-- NOTIFICATION START -->
	<ul
		class="nav top-menu">


		<!-- NOTIFICATION DROPDOWN -->
		<li id="header_notification_bar" class="dropdown">
			{% if app.user is not null %}
				<a data-toggle="dropdown" class="dropdown-toggle" href="{{path('app_prospect_index')}}">

					<i class="fa fa-shopping-cart"></i>

					<span class="badge bg-warning" style="font-size: 13px;">
						{% if is_granted('ROLE_TEAM') == true %}
							{{  " %02d"|format(app.user.teams.prospects|filter(p => p.comrcl is null)|length)  }}

						{% elseif is_granted('ROLE_ADMIN') == true  %}
							{{  " %02d"|format(app.user.prospects|filter(p => p.comrcl is null and p.team is null and p.creatAt|date('Y-m-d') == 'now'|date('Y-m-d') )| length) }}
							{# {{" %02d"|format(app.session.get('security'))}} #}

						{% else %}
							{# {{" %02d"|format(app.session.get('security'))}} #}

							{{ " %02d"|format(app.user.teams.prospects|filter(p => p.creatAt|date('Y-m-d') == 'now'|date('Y-m-d'))|length) }}

						{% endif %}
					</span>
				</a>

			{% endif %}
		</li>
		<!-- END NOTIFICATION DROPDOWN -->
	</li>
</ul>
<!-- END NOTIFICATION START --></div><div class="top-menu">
<ul class="nav pull-right top-menu">
	{% if app.user %}
		<li>
			<a class="logout" href="{{ path('app_logout') }}">Se déconnecter</a>
		</li>

	{% else %}
		<li>
			<a class="logout" href="{{ path('app_login') }}">Connectez vous</a>
		</li>
		<li>
			<a class="logout" href="{{ path('register') }}">Inscription</a>
		</li>
	{% endif %}
</ul></div>
