{% extends 'base.html.twig' %}

{% block title %}CSV Data
{% endblock %}

{% block body %}
	<h1>CSV Data</h1>

	<table class="table table-striped table-advance ">
		<thead>
			<tr style="text-align: left; font-size:20px;">
				<th>UserName</th>
				<th>Contact</th>
				<th>Début d'Appel</th>
				<th>Fin d'Appel</th>
				<th>ToNumber</th>
				<th>FromNumber</th>
			</tr>
		</thead>
		<tbody>
			{% for row in csvData %}
				<tr>
					<td>{{ row[15] ?? '' }}</td>
					<td>{{ row[13] ?? '' }}</td>
					<td>{{ row[7] ?? '' }}</td>
					<td>{{ row[8] ?? '' }}</td>
					<td>{{ row[12] ?? '' }}</td>
					<td>{{ row[11] ?? '' }}</td>


				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
